/* CSS Document */
@charset "UTF-8";
/*left-------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.left{ float:left; width:775px; overflow:hidden;}
.left1000{ width:1000px;}
.left-o{ position:relative; margin-bottom:15px;}
.left-o .left-o-span{ float:right;}
.left-o .left-o-span a{ color:#2980b9}
.sort{ border:1px #ddd solid; background:#f7f7f7; height:30px; line-height:30px;  padding:0 10px; position:relative; z-index:1;}
.sort .sort-s{ float:left;}
.sort .sort-se{ float:left;}
.sort .sort-se a{ padding: 0px 10px; height:20px; line-height:19px; overflow:hidden; float:left; margin:5px 3px; cursor:pointer;}
.sort .sort-se .ba{ background-color:#2980b9; color:#FFF; }
.sort .sort-se span,.sort .area-b span{ float:left;}
.sort .sort-se .down{ background:url(../../../images/project/shop/icon2.png) -2px 0 no-repeat; *background-position:-1px 0;_background-position:-2px 0; width:7px; height:9px; display:inline-block; float:left; margin-top:6px;*margin-top:5px;_margin-top:6px; margin-left:3px;_margin-left:5px; overflow:hidden;}
.sort .sort-se .up{ background:url(../../../images/project/shop/icon2.png) -2px -10px no-repeat; *background-position:-1px -10px;_background-position:-2px -10px; width:7px; height:9px; display:inline-block; float:left; margin-top:6px;*margin-top:5px;_margin-top:6px; margin-left:3px;_margin-left:5px; overflow:hidden;}
.sort .sort-area{ position:relative; width:100px; float:left; margin-left:10px; }
.sort .sort-area .area-n{ position:absolute; top:26px; left:0px; z-index:6;background:#fff; border:1px #bfbfbf solid; width:300px;}
.sort .area-b a{ background:#fff; border:1px #bfbfbf solid; float:left; overflow:hidden; height:20px; line-height:18px; margin-top:4px; padding:0 10px; cursor:pointer;}
.sort .area-b b{ width:7px; height:9px; display:inline-block; float:left; margin-top:7px; margin-left:6px; overflow:hidden;}
.sort .area-b .bbo{background:url(../../../images/project/shop/icon2.png) -19px -2px no-repeat;}
.sort .area-b .bboup{background:url(../../../images/project/shop/icon2.png) -19px -10px no-repeat;}
.sort .area-b{ overflow:hidden;}
.sort-area .area-n-o ul li{ float:left; width:60px;line-height:30px; padding-left:15px; overflow:hidden;}
.sort .area-n-o{ overflow:hidden;}
.sort .area-n-o ul{  overflow:hidden; padding:10px 0;}
.area-n{ display:none;}
.hover0{ display:block;}

.lis{ overflow:hidden; border:1px #ddd solid;_height:1%;background:#fcfcfc;}
.lis .o-lis{ height:126px; overflow:hidden; border-bottom:1px #c9c9c9 dotted;}
.lis .o-lis:hover{ background:#fffffc;}
.lis .lis-o{ padding:20px 20px; overflow:hidden;}
.lis .l-lis{ float:left; width:520px; overflow:hidden;}
.lis .lis-h3{ line-height:24px; overflow:hidden; width:520px;}
.lis .lis-h3 a{ font-size:14px; color:#06629e; float:left;}
.lis .lis-h3 a:hover{ color:#FD5F56;}
.bj{background:url(../../../images/project/shop/inquiry-icon.png) no-repeat; width:35px; height:16px; display:inline-block;}
.bj:hover{ 
  zoom: 1;
  filter: alpha(opacity=80);
  -webkit-opacity: 0.8;
  -moz-opacity: 0.8;
  opacity: 0.8;
  cursor:pointer;
}
.lis .lis-h3 span a{ font-weight:normal; color:#21cb00; margin-left:10px; font-size:12px;}	
.lis .lis-p{ margin-bottom:10px; margin-top:0px;line-height:19px; color:#6c6c6c; width:520px; height:36px; overflow:hidden;}
.lis .lis-d{ position:relative;}
.lis .lis-d a{ margin-right:50px; color:#9c9c9c;}
.lis .r-lis{ float:right; text-align:right;}
.lis .lis-m{ font: 15px/30px "microsoft yahei";}
.lis .lis-m a{ color:#e74c3c}
.lis .lis-m b{ font-weight:normal; font-size:12px;}
.lis .lis-q{ margin-top:10px; color:#9c9c9c;}
.lis .lis-x{ margin-top:14px;}
.lis-h3-b{ color:#e74c3c;}
.lis .lis-x a{ color:#2980b9}
.page{ padding:21px 15px; overflow:hidden; text-align:right; float:right;}
.page-span a{ float:left; cursor:pointer; border:1px #c9c9c9 solid; padding:3px 7px; margin:0px 5px; color:#999;}
.page-span .page-a{ background:#169bd6; border:1px #169bd6 solid; color:#fff;}
/*right-------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.right{ float:right; width:215px; overflow:hidden;}
.right-o{  position:relative;}
.reco{border:1px #ddd solid; _height:1%; overflow:hidden;}
.reco .reco-h2{ height:30px; background:#f7f7f7; line-height:30px; overflow:hidden; padding-left:15px; position:relative;}
.reco .reco-h2 h2{ font-weight:bold; font-size:12px; color:#3c3c3c;}
.reco .reco-h2 h2 a{ font-weight:normal; position:absolute; right:10px; top:0px; color:#9c9c9c;}
.reco .reco-i ul{ padding:0 10px;}
.reco .reco-i ul li{ padding:15px 0;}
.reco .reco-i ul li img{ width:193px; height:115px;}
.reco .ro-a{ text-align:center; padding:10px 0;}
.reco .ro-m{ text-align:center;}
.money{ color:#e74c3c; font: 15px "microsoft yahei"}
.money b{ font-size:12px; font-weight:normal;}
.adv{ overflow:hidden; padding:5px 0;}
.adv a img{ margin:10px 0;}

/*hotreo-------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.interest{ padding:0 15px; background:#fefbe4; height:38px; border:1px #f9e1b3 solid; line-height:38px;}
.interest .interest-l{ float:left; }
.interest .interest-l a{ color:#e28500; margin:0 5px;}
.interest .interest-r{ float:right; color:#6c6c6c;}
.interest .interest-r a{ color:#2980b9;}

.hotres{ border:1px solid #ddd; overflow:hidden;_height:1%}
.hotre{ padding:10px; overflow:hidden; }
.hotre-h2 h2{ line-height:30px; font-weight:700; padding:0 5px;}
.hotres .o-hotre{  overflow:hidden;}
.hotres .hotre-o{ width:180px; overflow:hidden; float:left;border:1px #fff solid; margin:0 6px;}
.hotre-o .hotre-w{ padding:10px; }
.hotres .hotre-o:hover{ border:1px #d9d9d9 solid; background:#fafafa}
.hotre-o img{ width:160px; height:120px;border:1px #ddd solid;}
.hotre-o .hotre-n{ width:160px; overflow:hidden;text-overflow: ellipsis;white-space: nowrap; overflow: hidden; line-height:40px;}
.hotre-o .hotre-n a{ color:#3c3c3c}
.hotre-o .hotre-q{text-overflow: ellipsis; white-space: nowrap; overflow: hidden;}
.hotre-o .hotre-q a,.hotre-o .hotre-k a{ color:#9c9c9c; line-height:20px;}



/*特色化合物----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.bor{ border:1px #ddd solid;}
.consearchx{  overflow:hidden; height:343px; padding:0 15px;}
.consearch{ float:left; overflow:hidden; width:740px; background:#f8f8f8; height:345px;}
.o-consearch{ overflow:hidden; padding-top:10px;}
.consearch-h2{ height:30px; line-height:30px;}
.consearch-h2 h2{ font-weight:700;}
.sea-forms{overflow:hidden;}
.sea-form{ width:310px;height:60px; float:left; padding-right:44px; padding-bottom:10px;}
.sea-form .sea-h5{line-height:24px; height:24px; color:#2980B9;}
.sea-form input{ width:298px; height:28px; line-height:28px; padding:0 5px;}
.sea-form input.validate-error{border:1px #ffbdbe solid;}
.sea-form label.validate-error{color:red;background: #ffebeb;border:1px #ffbdbe solid;padding: 2px;}
.sea-form label.validate-success{display: none!important;}

.sea-button{ padding:10px 0; overflow:hidden;}
.sea-button input{ height:28px; width:90px; background:#169bd6; border:1px #169bd6 solid;  overflow:hidden; color:#fff; border-radius:3px; cursor:pointer; float:left;}
.sea-button input:hover{ background:#19adee; border:1px #19adee solid;}
.sea-button .sea-a { background:url(../../../images/project/shop/icon_jgs.png) 0px 2px no-repeat; height:18px; padding-left:20px; display:inline-block; padding:5px 0 0px 20px; margin-left:100px;}
.sea-button .sea-a a{ color:#2980b9}
.consearch .span-bor{ border-top:1px #ddd solid; border-bottom:1px #fff solid; display:block; margin:10px 0}
.consearch-a a{ float:left; margin-right:20px; margin-top:10px; padding:0 5px; font: 13px "microsoft yahei"; color:#2980b9;}
.consearch-a a:hover{ background:#169bd6; color:#fff;}


.topsupr{ float:right; overflow:hidden; width:250px; height:345px;}
.topsupr .topsupr-h2{ background:#1295cc; color:#fff; line-height:30px; height:30px; overflow:hidden; padding-left:15px;}
.topsupr .topsupr-h2 h2{ font-weight:bold;}
.topsupr .topsupr-list{ border-top:none; height:314px; overflow:hidden;}
.topsupr ul{ padding:5px 10px 0 15px;}
.topsupr ul li{ line-height:30px; background:url(../../../images/project/shop/icon_dian.png) 0px 14px no-repeat; padding-left:10px; _width:200px; text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}

.ggao{ overflow:hidden;}
.ggao a{ float:left;}
.ggao a img{ width:330px; height:60px;}

.company{ width:280px; overflow:hidden; float:left;}
.mt{ border-bottom: 3px solid #169bd6 ;height: 30px;padding: 0px;line-height: 30px;}
.mt h2{ font-size:14px; font-weight:700; color:#2c3e50;}
.company .mx{ height:219px; width:278px; border:1px #ddd solid; border-top:none; background:#f8f8f8; overflow:hidden;}
.company .mx-a{ padding:20px 15px; overflow:hidden;overflow:hidden;  white-space: nowrap; text-overflow: ellipsis; _width:248px;}
.company .mx-a a{ font-weight:700; color:#2c3e50; }
.company .mx-i{ padding:0px 15px 15px 15px; overflow:hidden; position:relative;}
.company .mx-i img{ border:1px #ddd solid; width:88px; height:98px; float:left;}
.company .mx-i p{ text-indent:20px; width:145px; height:100px; overflow:hidden; float:right; line-height:20px; color:#9c9c9c;}
.company .mx-c{ padding:0 15px; color:#6c6c6c; line-height:20px; overflow:hidden; height:40px;}
.company .mx-c a{ margin-right:5px; }
.company .mx-c .l-mx{ float:left; width:65px; font-weight:700; overflow:hidden;}
.company .mx-c .r-mx{ float:right; width:180px;}
.company .mx-c .r-mx a{ width:85px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; display:inline-block; float:left;}
.type{ width:720px; overflow:hidden; float:right;}
.type .mta{ float:right; color:#e8e8e8}
.type .mta a{ padding:0 5px;}
.ov{ overflow:hidden;}
.type .mw{ width:719px; height:219px;border:1px #ddd solid; border-top:none; border-left:none;}
.type .mwa{ overflow:hidden; padding-left:50px; padding-top:5px;}
.type .mwa a{ width:130px; display:inline-block;overflow:hidden; color:#2980b9; padding:11px 15px;line-height: 18px; white-space: nowrap;  text-overflow: ellipsis; }
.type .mwa a:hover{ color:#e74c3c;}


/*------品牌中心------------------------------------------------------------------------------------------------------------------------------------------------------*/
.bgd{background:#169bd6; color:#fff; height:30px; line-height:30px;}
.brandnavs{ float:left; width:215px; overflow:hidden;}
.brandnav{}
.brandnav .brandnav-h2 { height:30px; background:#169bd6; line-height:30px; color:#fff; padding-left:15px; overflow:hidden; }
.brandnav .brandnav-h2 h2{ font-weight:700; overflow:hidden; line-height:30px; height:30px;}
.brandnav .brandnav-h2 a{ font-weight:normal; padding-left:60px; color:#fff;}
.brandnav-o{ border:1px #ddd solid; border-top:none; padding:10px 15px; background:#fbfbfb;}
.brandnav-o .borspan{ border-bottom:1px #fff solid; border-top:1px #ddd solid; display:block; margin:5px 0;}
.brandnav-o .bra h3{ line-height:30px;}
.brandnav-o .bra a{ width:85px; display:inline-block; overflow:hidden; line-height:25px;white-space:nowrap; text-overflow:ellipsis;}
.apply{ padding:10px 0;}
.apply a{ background:#18bc9a; line-height:30px; height:30px; text-align:center; color:#fff; display:block; overflow:hidden;}
.apply a:hover{ background:#1bd2ac;}
.brandlists{ float:right; width:775px; overflow:hidden;}
.brtab{ padding:0 15px; overflow:hidden;}
.tabmenu{ float:left;}
.tabmenu a{ margin:0 5px;}
.tabmenu .tabmenu-b{ font-weight:700;}
.tabmenu a{ color:#fff;}
.bsearch{ float:right;}
.bsearch form{ padding:4px 0;}
.bsearch form input{ float:left; }
.bsearch .bsearch-text{ width:158px; height:20px; border:1px #1d7ed8 solid; padding:0 5px; color:#9c9c9c;}
.bsearch .bsearch-button{ height:22px; line-height:20px; width:40px; background:#3e9bf2; border:1px #1d7ed8 solid; color:#fff; cursor:pointer; border-left:0 none }
.bsearch .bsearch-button:hover{ background:#57aeff; }
.bran{ border:1px #ddd solid; border-top:0 none; overflow:hidden;}
.bran .branletter{ height:35px; line-height:35px; border-bottom:1px #ddd solid; padding:0 5px; overflow:hidden; background:#f1f3f4;}
.bran .on{ background:#169bd6; color:#fff;}
.bran .branletter a{ font:14px "microsoft yahei"; padding:0px 5px;  margin:0 3px;}
.branwraps{ overflow:hidden; _height:1%}
.branwrap{ overflow:hidden; padding-top:20px;}
.branwraps .letter {overflow:hidden;}
.branwraps .let{background:#f8f8f8; height:20px; line-height:20px; overflow:hidden; padding:0 15px;}
.branwraps .let span{ float:left;font-weight:bold;font-size:16px; color:#2980b9}
.branwraps .let a{ float:right;}
.branwraps .letls{ overflow:hidden; padding:20px 0; _height:1%}
.branwraps .letls a{ width:100px; height:100px; display:inline-block; float:left; border:1px #ccc solid; text-align:center; overflow:hidden; padding:5px; margin:0px 21px;}
.branwraps .letlsa a{ margin:21px;}
.branwraps .letls a:hover{ border:1px #169bd6 solid;box-shadow: 0px 0px 3px 0px #3498DB;}
.branwraps .letls-a img{ width:100px; height:80px; }
.branwraps .letls-a span{ white-space:nowrap; text-overflow:ellipsis; overflow:hidden; width:100px; display:block; border-top:1px #ccc solid; line-height:24px;}

/*代理列表*/
.bran .branarea{ height:35px; line-height:35px; border-bottom:1px #ddd solid; padding:0 5px; overflow:hidden; background:#f1f3f4;}
.bran .on{ background:#169bd6; color:#fff;}
.bran .branarea a{padding:0px 5px;  margin:0 3px;}
.branwraps .agents{ padding:0 20px 20px;}
.branwraps .agent{ border:1px #ddd solid; overflow:hidden;}
.branwraps .agent li{ line-height:30px; height:30px; border-top:1px #ddd solid; overflow:hidden; color:#6c6c6c; _height:1%; }
.branwraps .agent li p{ float:left; overflow:hidden; padding:0 5px; text-overflow:ellipsis; white-space:nowrap;}
.branwraps .agent .sp1{ width:245px;}
.branwraps .agent .sp2{ width:188px; border-left:1px #ddd solid; border-right:1px #ddd solid;}
.branwraps .agent .sp3{ width:266px;}
.branwraps .agent li p a{ color:#2980b9}
.branwraps .agent .agent-title { background:#f8f8f8; border-top:none; font-weight:700; color:#2980b9}

/*品牌详情*/
.brandetails h1{ font:700 20px/30px "microsoft yahei"; text-align:center; color:#2980b9; padding:20px 0}
.brandetails h2{ border-bottom:2px #aaa solid; padding-bottom:5px; font-weight:700; }
.brandetails .detailin{ padding:20px;}
.brandetails .detailin-o{ overflow:hidden; _height:1%; padding:20px 0;}
.brandetails .detailin-o img{ border:1px #ddd solid; width:110px; width:115px; float:left;}
.brandetails .detailin-o p{   width:600px; float:right; overflow:hidden; text-indent:20px; line-height:24px; color:#6c6c6c;}
.brandetails .detaiix{ padding:20px 0}
.detp{ margin:20px 0;}
.brandetails .detaiix p{ line-height:30px; color:#6c6c6c;}

.branschs .bransch{ position:relative; overflow:hidden; padding:20px; border-bottom:1px #ddd solid;}
.branschs .bransch img{ border:1px #ddd solid; width:110px; width:115px; float:left;}
.branschs .bransch p{   width:600px; float:right; overflow:hidden; text-indent:20px; line-height:24px; color:#6c6c6c; height:100px;}
.branschs .bransch a{ position:absolute; bottom:22px; right:20px; color:#2980b9}






/*------------------化合物列表----------------------------------------------------------------------------------------------------------------------------------*/
.compound-l{ float:left; width:380px; overflow:hidden;}
.complabel{ border:1px #ddd solid; overflow:hidden;}
.co{ border:1px #B8D4E9 solid; overflow:hidden; _height:1%}
.co .coh3{ line-height:20px; padding:10px 15px; background:#DAF0FD;}
.co .coh3 h3{ font-weight:700; color:#333;}
.co ul li{ overflow:hidden; line-height:30px; border-top:1px #B8D4E9 solid; float:left;}
.co ul li p{ padding:3px 10px; overflow:hidden; min-height:30px; _height:1%; } 
.co .colb{ float:left; width:100px; overflow:hidden; text-align:right; color:#9c9c9c; po}
.co .colb p{ text-align:right;}
.co .coln{ float:right; width:277px; border-left:1px #B8D4E9 solid; color:#3c3c3c; position:relative;}
.coln p a{ position:absolute; top:30px; right:20px; color:#2980b9}
.coln p img{ width:130px; height:80px;}

.compound-r{ float:right; width:610px; overflow:hidden;}
.crh{ background:#29a8de; height:30px; line-height:30px; padding:0 15px; overflow:hidden;}
.crh h3{ float:left; font-weight:700px; color:#fff;}
.crh a{ color:#fff; margin-left:20px; float:left;}
.crh span{ float:right; color:#fff;}
.crto{ border:1px #ddd solid; overflow:hidden; _height:1%; margin:15px 0; height:175px;}
.crto .crtol{ overflow:hidden; position:relative; float:left; width:440px;}
.crto .crtolw{ padding:10px 15px;}
.crto .crtolh span{ float:right;}
.crto .crtolh{ border-bottom:1px #aaa solid; padding-bottom:10px; overflow:hidden; _height:1%}
.crto .crtolhg{ font-weight:700; color:#2c3e50; float:left;}
.crto .crtolhk{ background:url(../../../images/project/shop/qq.png) no-repeat; color:#2980b9; padding-left:20px; margin-right:20px;}
.crto .crtolhx{ color:#e74c3c;}
.crto .crtold{ padding-top:10px;}
.crto .crtold p{ padding:4px 0; color:#6c6c6c;}
.crto .crtold a{ color:#2980b9;}

.crto .crtor{ float:right; overflow:hidden; width:167px; background:#f8f8f8; border-left:1px #ddd solid;height:175px}
.crto .crtorw{ padding:10px 15px;}
.crto .crtorh h3{ padding-bottom:5px;}
.crto .crtoru li{ background:url(../../../images/project/shop/icon_dian.png) 0px 11px no-repeat; padding-left:10px; line-height:23px; white-space:nowrap; text-overflow:ellipsis; overflow:hidden; width:125px;}


/*----供应详情-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.left215{ width:215px; float:left; overflow:hidden;}
.tj{ _height:1%; overflow:hidden;}
.tjh3 h3{ color:#fff; line-height:30px; background:#169bd6; padding:0 15px; overflow:hidden;}
.tjxs{ border:1px #b0d3e2 solid; background:#f0feff; padding:15px; border-top:none;  _width:183px; overflow:hidden;}
.tjxs h4 { width:170px; color:#2c3e50; background:url(../../../images/project/shop/icon_vip.png) 0px 3px no-repeat; padding-left:15px; text-overflow:ellipsis; white-space:nowrap; overflow:hidden; line-height:20px;}
.tjxs h4 a{ color:#2c3e50}
.tjl ul{ padding-bottom:12px;}
.tjl ul li{ line-height:28px; text-overflow:ellipsis; white-space:nowrap; overflow:hidden; width:180px; position:relative;}
.tjl{ padding:5px 0;}
.tjl .tjl-a{ position:absolute; top:1px; right:0px; background:url(../../../images/project/shop/qq.png) 1px 3px no-repeat; margin-left:30px; padding-left:20px;height: 20px; line-height:25px; display: inline-block; color:#2980b9;}
.tjl p span{ background:url(../../../images/project/shop/tjicon.png) 15px 3px no-repeat; padding-left:35px; color:#00ac10;}
.left215 .adv{ padding:11px 0;} 
.left215 .adv img{ width:215px; height:130px;}
.tuh3 h3{ color:#fff; line-height:30px; background:#169bd6; padding:0 15px; overflow:hidden;}
.tu{border:1px #ddd solid;padding:15px; border-top:none;  _width:183px; overflow:hidden;}
.tu ul li{ line-height:30px; background:url(../../../images/project/shop/icon_dian.png) 0px 15px no-repeat; padding-left:10px; white-space:nowrap; text-overflow:ellipsis; overflow:hidden; _width:180px}

.right775{ width:775px; float:right; overflow:hidden;}
.previews{ border:1px #ddd solid; position:relative;}
#product-intro{padding-left:340px; overflow:hidden; height:400px;}
#name{ padding-top:20px; padding-bottom:10px; border-bottom:1px #ddd solid; width:410px;}
#name h1{ width:410px; text-overflow:ellipsis; white-space:nowrap; overflow:hidden; font-weight:700; font-size:16px;}
#summary{ width:410px; height:230px; color:#6c6c6c; padding:10px 0; overflow:hidden;}
#summary li{ padding:8px 0; overflow:hidden; clear:both; height:18px; }
#summary .dt{ float:left; text-align:right; width:72px;}
#summary .dd{ float:left;}
#summary-price .p-price{ font:700 18px/12px "microsoft yahei"; color:#e74c3c;}
#summary-price .p-price b{ font-size:14px; }
#choose { overflow:hidden; }
#choose a{ float:left; margin-right:10px;position:relative; overflow:hidden;}
#choose .btn-append{ width:140px; height:38px; display:inline-block; background:#e74c3c; color:#fff; text-align:center; border-radius:2px; line-height:38px; font:700 18px/38px "microsoft yahei"; position:relative; overflow:hidden; cursor:pointer;}
#choose .btn-append strong{ font-size:24px; float:left; position:absolute; left:20px; top:0px;}
#choose .btn-append:hover{ text-decoration:none; background:#ff5341}
#choose .btn-append span{ position:absolute; top:0px; left:45px;}
#choose .btn-collect{ width:65px; height:36px; background:#f6f6f6; border:1px #ddd solid; text-align:center; display:block;line-height:36px; }
#choose .btn-collect strong{ font:700 25px/20px "microsoft yahei"; color:#ffba3c; position:absolute; left:5px; top:6px;}
#choose .btn-collect span{ position:absolute; top:0px; left:25px;}
#choose .btn-collect:hover{ text-decoration:none; background:#e5e5e5; color:#6c6c6c;}
#choose .btn-report{width:60px; height:36px; background:#f6f6f6; border:1px #ddd solid; text-align:center; display:block;line-height:36px; }
#choose .btn-report strong{ font:900 17px/13px "microsoft yahei"; color:#e74c3c; position:absolute; left:15px; top:12px; font-weight:}
#choose .btn-report span{ position:absolute; top:0px; left:25px;}
#choose .btn-report:hover{ text-decoration:none; background:#e5e5e5; color:#6c6c6c;}
#share{ clear:both; overflow:hidden; padding-top:15px; _padding-top:7px; color:#6c6c6c;}
#share a{ padding:0 5px;}

#preview{ position:absolute; top:0px; left:0px; width:280px; height:350px; overflow:hidden; top:20px; left:20px; border:1px #ddd solid;}
#preview ul{width:280px; position:absolute;}
#preview ul li img{ width:280px; height:350px;}
#preview ul li{float:left; width:280px; height:350px; overflow:hidden; position:relative;}
#preview .btnBg{position:absolute;width:280px;height:20px;left:0;bottom:0;background:#000;}
#preview .btn{position:absolute;width:280px;height:10px;right:0;bottom:10px;text-align:center;}
#preview .btn span{display:inline-block;_display:inline;_zoom:1;width:25px;height:10px;_font-size:0;margin-left:5px;cursor:pointer;background:#000;}
#preview .btn span.on{background:#fff;}

#product-detail{ margin-top:10px; margin-bottom:15px;}
#product-detail .wraps{ border:1px #ddd solid; border-top:2px #9c9c9c solid; height:30px; width:773px; background:#f7f7f7; line-height:30px; font-weight:700;}
#product-detail .wraps-o{ width:auto;}
.tab{ margin-left:-1px; float:left;}
.tab li{ float:left; text-align:center;}
.tab .curr{ color:#2980b9; background:#fff; border-top:2px #169bd6 solid; margin-top:-6px; }
.tab li a{ padding:0 13px; line-height:28px; height:30px; float:left; }
.tab .curr a{height:35px;border-left:1px #ddd solid;border-right:1px #ddd solid; color:#2980b9; line-height:35px;}

#product-detail-1{border:1px #ddd solid; border-top:none; padding:15px; color:#6c6c6c; line-height:30px;word-wrap:break-word;} 
#product-detail-2 .detail-list{ border:1px #ddd solid; border-top:none; padding:15px; color:#6c6c6c;}
.table li{ clear:both; line-height:30px; overflow:hidden; padding:5px 0; border-top:1px #ddd dotted;}
.table li a{ color:#e74c3c}
.table .table-bt{ border-bottom:1px #ddd solid; font-weight:700; margin-bottom:5px;}
.table .t{ float:left;overflow:hidden; text-overflow:ellipsis; white-space:nowrap; padding:0 10px;}
.table .ta1{ width:80px; height: 30px; }
.table .ta2{ width:520px;}
.table .ta3{ width:80px;}

#related-buying{ overflow:hidden; color:#6c6c6c;}
#related-buying h2{line-height:30px; font-weight:700; color:#2c3e50; padding:0 15px;background:#f8f8f8; border:1px #ddd solid; border-top:2px #9c9c9c solid}
#related-buying .table li{ border-top:1px #ddd dotted;}
#related-buying .table{ border:1px #ddd solid; border-top:none; padding:10px;}
#related-buying .ta1{ width:250px;}
#related-buying .ta1 a{ color:#2980b9}
#related-buying .ta2{ width:100px; color:#e74c3c;}
#related-buying .ta3{ width:240px;}
#related-buying .ta4{ }

#online-inquiry .inquiry-b{ background:#f8f8f8; border:1px #ddd solid; overflow:hidden; margin-top:15px;}
#online-inquiry h2{ line-height:30px; font-weight:700; color:#2c3e50; padding:0 15px; padding-top:10px}


/*----------------------------------------------------Release-Buy-------------------------------------------------------------------------------------------------------------------*/
#login-register-tips .prompt{ border:1px #f8e2b3 solid; background:#fdfbe4; overflow:hidden; padding:10px; color:#9f844b; _height:1%; margin-bottom:15px;}
#login-register-tips .pmt{ float:left; padding-left:100px; margin-left:50px; display:inline;}
.prompt-register{ background:url(../../../images/project/shop/registerimg.png) no-repeat; border-right:1px #e8ce97 solid; padding-right:100px;}
.prompt-login{background:url(../../../images/project/shop/loginimg.png) no-repeat;}
#login-register-tips .pmt p{ line-height:24px;}
#login-register-tips a{ color:#2980b9;}

.title-h2{ height:30px; background:#169bd6; line-height:30px; color:#fff; padding:0 15px; font-weight:700;}
.buets{ border:1px #ddd solid; border-top:none; padding:15px;}

/*------------------------------------------VIP shop application--------------------------------------------------------------------*/
#buying-sheet .mms{ border:1px #ddd solid; border-top:0 none; padding:20px; overflow:hidden; _height:1%; margin-bottom:20px}
#buying-sheet .mms-img{ text-align:center; padding:20px 0;}
#buying-sheet .mms-o{ overflow:hidden; padding:20px 0 ;}
#buying-sheet .mms-o-h3{ line-height:30px;}
#buying-sheet .mms-p { background:#fdfbe4; border:1px #f8e2b3 solid; padding:10px; color:#9f844b; overflow:hidden; _height:1%}
#buying-sheet .mms-p p{ float:left; line-height:24px; padding:0 10px; width:290px;}

#buying-sheet .mmo{ line-height:24px; overflow:hidden; _height:1%}
#buying-sheet .mmo-p p{ padding-bottom:20px; padding-left:10px;}
#buying-sheet .mmo-remind{ background:#fdfbe4; border:1px #f8e2b3 solid; padding:5px 10px; color:#9f844b;}
#buying-sheet .mmo-m{ overflow:hidden;}
#buying-sheet .mmo-m-a{ float:left; width:350px; height:70px; display:inline-block; overflow:hidden; border:1px #ddd solid; padding:5px; text-decoration:none; margin:20px 100px 20px 0}
#buying-sheet .mmo-m-a:hover{ border:1px #e7b53c solid;}
#buying-sheet .mmo-m-a img{ float:left; margin-top:10px; margin-right:10px;}
#buying-sheet .mmo-m-p p{ text-overflow:ellipsis; white-space:nowrap; overflow:hidden; line-height:22px}

.info-pre{white-space: pre-wrap;}

.sorts{ border:0 none; padding:0 20px; background:#169bd6; color:#fff}
.sort .sort-s{ float:left;}
.sort .sort-ss{ width:180px; font-weight:700}
.sort .sort-sso{ float:left;font-weight:700;width: 250px;}
.sort .sort-sso-r{ float:right; color:#fff;}
.sort .sort-sso-r span{ color:#fff45c}
.liss{ background:#fcfcfc;}
.lis .o-liss{ height:auto;}
.lis .liss-o{ padding:10px 20px}
.lis .o-liss{ height:auto; _height:1%; }
.lis .lis-os{ _height:1%}
.lis .l-liss{ float:none; width:auto}
.lis .liss-h3{ width:auto;}
.lis .liss-h3 b{ color:#6c6c6c; display:inline-block; width:160px; font-weight:normal}
.lis .lis-o-span{color: #e74c3c;}


.cp{ border:1px #ddd solid; overflow:hidden; _height:1%; padding:10px 20px 10px 20px; margin-top:10px; background:#fdfdfd;}
.cp h3{ padding-bottom:10px; font-size:12px}
.cp .cp-in{ overflow:hidden; _height:1%}
.cp .cp-search{ padding:0px 5px; border:1px #1295CD solid; border-right:0 none; float:left; width:257px; height:26px; line-height:26px;}
.cp .cp-button{ float:left;  background:#1295CD; color:#fff; height:28px; border:0 none; line-height:28px; text-align:center; width:60px}
.cp .cp-button:hover{ background:#1ab7fd}
.cp .cp-p{ display:block; color:#9c9c9c; padding-top:10px;}

.lis .l-lis650{ width:650px}
.lis .lis-h3s650{ width:650px}
.lis .lis-ps650{ width:650px}
.lis .lis-d-o{width:260px;overflow:hidden;display:inline-block; float:left;white-space:nowrap; text-overflow:ellipsis}
.lis .l-lis-auto{ width:auto;}
.lis .lis-h3-auto{ width:auto;}
.interest .interest-l strong{ float:left; font-weight:normal;}
.interest .interest-l-str{ font-weight:700;}
.interest .interest-l a{ float:left; display:inline-block; white-space:nowrap; text-overflow:ellipsis; overflow:hidden; max-width:100px; _width:100px; font-weight:normal}

.sort .sort-sso-o{ width:200px;}
.lis .lis-td{ float:left; white-space:nowrap; text-overflow:ellipsis; overflow:hidden;font-weight:700; color:#06629e; font-size:14px; width:170px; padding-right:10px;height: 24px;
display: inline-block;}
.lis .lis-td250{ width:240px; }
.lis .lis-td190{ width:190px;}
