div.ui-dialog{
  .ui-widget-header{
    .ui-dialog-titlebar-close{
      border:none;background-color: transparent;
      cursor:pointer;width:24px;height:24px;
      margin:-12px 0 0 0;
      .fa{
        font-size: 16px;
      }
      &:hover{
        .fa{
          color:@red;
        }
      }
    }
  }
  
  .ui-dialog-content{
    .ui-dialog-toolbar{
      text-align: center;
      position: absolute;padding: 10px 0;
      right:10px;bottom:0;
    }
  }
  
  .ui-dialog-iframe-box{
    padding: 0;
    overflow:hidden;
  }
  .ui-dialog-iframe{
    border: none; 
    width: 100%; 
    display: block; 
    height: 100%; 
    overflow: hidden;
  }

}


  