.ui-dropdown{
  .ui-dropdown-menu{
    top:100%;
  }
}
.ui-dropup{
  .ui-dropdown-menu{
    bottom:100%;
  }
}

.ui-dropdown,.ui-dropup{
  display:inline-block;_display:inline;position: relative;
  .clearfix();

  .ui-dropdown-menu{
    position: absolute;display: none;left:0;z-index: 1000;
    padding: 5px 0;margin: 2px 0 0;font-size: 14px;
    text-align: left;list-style: none;background-color: #fff;
    border: 1px solid #ccc;border: 1px solid rgba(0,0,0,.15);
    .border-radius(2px);
    .box-shadow(0px 2px 8px 1px rgba(0,0,0,0.2));
    li{
      a{
        display: block;padding: 3px 20px;clear: both;font-weight: 400;
        line-height: 1.42857143;color: #333;white-space: nowrap;
      }
    }
  }
  &.pull-left{
    .ui-dropdown-menu{
      left:0;right:auto;
    }
  }
  &.pull-right{
    .ui-dropdown-menu{
      left:auto;right:0;
    }
  }
  &.open{
    .ui-dropdown-menu{
      display: block;
    }
  }

}