.ui-dropdown-select{
  @contentHeight : @inputLineHeight;
  @height : floor(@contentHeight+(@paddingVerticalBase+1)*2);
  @arrowWidth : 4px;
  background-color: #fff;box-shadow: @inputBoxShadow;
  display: inline-block;position: relative;
  height: @height;line-height: @contentHeight;vertical-align: top;
  font-family: @yahei;
  .ui-dropdown-select-name{
    .text-overflow();
    text-align: center;
    border:1px solid @borderColor;text-decoration: none;
    display: block;position: relative;z-index: 2;
    border-radius: @borderRadiusBase;
    padding: @paddingVerticalBase @paddingHorizontalBase*2 @paddingVerticalBase @paddingHorizontalBase;
  }
}