.table{
  width:100%;
  td,th{
    border:1px solid #ddd;padding:8px;background-color: #fff;
  }
  thead{
    th{
      vertical-align: bottom;white-space: nowrap;border-bottom-width:2px;
    }
  }
  
  tbody{
    tr{
      &:nth-child(odd)>td,
      &:nth-child(odd)>th{
        background-color: #F2F6FA;
      }
    }
  }

}