@dialogHeaderColor : #fff;
@dialogHeaderBackgroundColor : #0a4891;
@dialogBorderRadius : 3px;

div.ui-dialog{
  padding:0;
  .border-radius(0 0 @dialogBorderRadius @dialogBorderRadius);
  .ui-widget-header{
    color: @dialogHeaderColor;
    background-color: @dialogHeaderBackgroundColor;
    border:none;.border-radius(0);
    padding: 4px 10px;height:22px;line-height: 22px;
    margin:-1px -1px 0;
    .ui-dialog-title{
      margin:0;
    }
    .ui-dialog-titlebar-close{
      .fa{
        color:#fff;
      }
    }
  }
  .ui-dialog-content{
    
  }
    
}