footer,.footer{
  border-top:1px solid @borderColor;
  background-color: #f2f2f2;
  padding: 20px 0;color:#606060;
  a{
    color:#606060;
  }
  .clearfix{
    height:24px;line-height: 20px;
    .fl{
      a{
        margin-right: 20px;
      }
    }
  }
  .fa{
    font-size: 20px;margin:0 6px;color:@colorBase;
    &:hover{
      text-decoration: none;
    }
  }
  &.user-footer{
    color:#999;
    background-color: #ffffff;
    border-top:2px solid #488ede;
    .links{
      padding: 0 10px 20px 10px;
      text-align: left;
      position: relative;
      .follow{
        position: absolute;right:0;top:0;
      }
      a{
        margin-right: @space;
        white-space: nowrap;
        &.fa{
          margin-right: @space/2;
        }
        &:hover{
          color:@blue;
        }
      }
    }
    .relative{
      min-height: 100px;
    }
    .contacts{
      position: absolute;top:10px;right:10px;
      b{
        color:@colorBase;
      }
    }
    p{
      margin-top: 4px;
    }
  }

}
