/*重置表单*/
.form{
  @width : 200px;
  @fullWidth : @width+(@paddingHorizontalBase+1)*2;
  
  .form-box{
    .btn{
      &.form-control-width{
        width:@width+@paddingHorizontalBase*2;padding-left: 0;padding-right: 0;
      }
    }
    button{
      &.btn.form-control-width{
        width:@fullWidth;padding-left: 0;padding-right: 0;
      }
    }
  }
  .form-control{
    width:@width;
  }
  select.form-control{
    width:@fullWidth;
  }

  &.align-right{
    .form-label{width:6em;}
  }
  /* 自定义样式1 */
  &.form-style-1{
    .clearfix();
    .form-groups{
      width:50%;float:left;
    }
    .form-group{
      margin-bottom: 20px;
    }
  }
  /* 自定义样式2 */
  &.form-style-2{
    .clearfix();
    .form-groups{
      width:33.33%;float:left;
    }
    .form-group{
      margin-bottom: 20px;
    }
  }


}