/* topbar */
.ui-topbar{
  @topItemPadding : 8px;
  @backgroundColor : #fff;
  height:30px;line-height: 30px;
  position: relative;z-index: 2;
  .item{
    float:left;padding: 0 @topItemPadding;
    &.line{
      height:14px;line-height: 14px;
      margin:8px @topItemPadding;vertical-align: middle;
      border-left:1px solid @colorBase;
      padding:0 0 0 @topItemPadding*2;
    }
    &.app{
      .app-icon{
        color:#fff; margin:3px 10px; 
        cursor:default; padding:0 3px;line-height: 20px;border-radius:3px;color:#fff;
        background-color: #4d90fe;border:1px solid #3079ed;
        .fa{
          font-size: 20px;position: relative;top:2px;height:20px;
        }
      }
      .subnav{
        width: 120px;padding: 10px 20px;
        .btn{
          display: block;height:22px;color:#fff;
          span{
            border-left: 1px solid #fff;line-height: 14px;
            margin: 4px 0 0 4px;padding: 0 8px;
          }
        }
      }
      &:hover{
        .hover-layer{display: block;}
      }
    }
    &.user{
      position: relative;padding-left: 40px;
      img{
        position: absolute;
        width:26px;height:26px;
        top:2px;left:6px;
      }
    }
    &.sub-box{
      position: relative;
      .name{
        display:block;position: relative;z-index: 2;background-color: @backgroundColor;
      }
      .subnav{
        display: none;line-height: 24px;
        position: absolute;z-index:1;top:100%;left:5px;min-width: 100px;
        border:1px solid @borderColor;border-top:none;background-color: @backgroundColor;
        a{
          display: block;padding: 0 6px;
        }
      }
      &:hover{
        .subnav{
          display: block;
        }
      }
    }
    &.cl-blue{color:#3366cc;}
  }
  a{
    color:#666;
  }
  &.other-topbar{
    @backgroundColor : #f1f1f1;
    background-color: @backgroundColor;border-bottom: 1px solid @borderColor;
    .item{
      &.sub-box{
        .name,
        .subnav{
          background-color: @backgroundColor;
        }
      }
      &.app{
        .hover-layer{
          .box{
            background-color: @backgroundColor;
          }
        }
      }
    }
  }
}

/* header-bar */
.header-bar{
  @height : 36px;
  @borderWidth : 1px;
  @borderColor : #c0c0c0;
  @contentHeight : @height+-@borderWidth*2;
  @btnBackgroundColor : #3079ed;
  height:70px;padding:10px 0;background-color: #fff;
  .header-layer{
    padding: 10px 0;height: 40px;background-color: #fff;
    &.fixed{
      position:fixed;top:0;left:0;width:100%;box-shadow: 2px 2px 2px #eee;
      border-bottom: 1px solid #ddd;z-index: 10;
    }
    form{
      width:@wrapper;margin:0 auto;
    }
  }
  .logo{
    display:inline-block;width: 260px;height: 40px;
    background: url('../images/project/db/logo.png') no-repeat 0 -60px transparent;vertical-align: middle;margin-left: 8px;
  }
  .search-box{
    .inline-block();border: @borderWidth solid @borderColor;margin-left: 80px;
    height:@contentHeight;line-height: @contentHeight;vertical-align:middle;position: relative;
    .search-type-select{
      width: 64px;visibility: hidden;
    }
    .ui-dropdown-select{
      @innerHeight : @contentHeight+-@paddingVerticalBase*2;
      height: @contentHeight;vertical-align: top;
      .ui-dropdown-select-name{
        height: @innerHeight;
        line-height: @innerHeight;
        .border-radius(0);
        border:none;border-right: 1px solid @borderColor;
      }
      .ui-dropdown-arrow{
        top:15px;
      }

      &.open{
        .ui-dropdown-arrow{
          top:11px;
        }
      }
    }
    .search{
      height: @contentHeight;line-height: @contentHeight;width: 430px;border: none;
      vertical-align: top;padding: 0 4px;color:#222;font-weight:700;
      *height: @contentHeight+-2;*line-height: @contentHeight+-2;
    }
    .search-btn{
      position: absolute;top:-1px;right:-1px;width:90px;height:@height;
      background: @btnBackgroundColor;text-align: center;
      font-size: 14px;color:#fff;text-decoration: none;
    }
  }
}

/* user-header-bar */
.user-header-bar{
  @boxHeight : 36px;
  @height : 30px;
  @borderWidth : 1px;
  @borderColor : #c0c0c0;
  @contentHeight : @height+-@borderWidth*2;
  @btnBackgroundColor : #d5d5d5;
  background-color: #2673e9;padding:20px 0;
  .wrapper{
    .clearfix();
  }
  .logo-box{
    float: left;padding-left: 210px;
    background: url('../images/project/db/logo.png') no-repeat 0 -109px transparent;
    color: #ffff00;text-decoration: none;height: @boxHeight;margin-left: 8px;
    .text{
      line-height: 1;border-left: 1px solid #7ba9ee;display: inline-block;
      padding-left: 10px;height: 30px;margin-top: 4px;
    }
  }
  .links{
    float:left;font-size: 14px;margin-left: 60px;
    height: @boxHeight;line-height: @boxHeight;
    a{
      display:inline-block;color:#fff;margin-right: 20px;
    }
  }
  .search-box{
    float:right;background-color: #fff;margin-top: (@boxHeight+-@height)/2;
    .inline-block();border: @borderWidth solid @borderColor;
    height:@contentHeight;line-height: @contentHeight;vertical-align:middle;position: relative;
    .search-type-select{
      width: 64px;visibility: hidden;
    }
    .ui-dropdown-select{
      @innerHeight : @contentHeight+-@paddingVerticalBase*2;
      height: @contentHeight;vertical-align: top;
      .ui-dropdown-select-name{
        height: @innerHeight;
        line-height: @innerHeight;
        .border-radius(0);
        border:none;border-right: 1px solid @borderColor;
      }
      .ui-dropdown-arrow{
        top:12px;
      }

      &.open{
        .ui-dropdown-arrow{
          top:8px;
        }
      }
    }
    .search{
      height: @contentHeight;line-height: @contentHeight;width: 260px;border: none;
      vertical-align: top;padding: 0 4px;color:#222;font-weight:700;
      *height: @contentHeight+-2;*line-height: @contentHeight+-2;
    }
    .search-btn{
      position: absolute;top:-1px;right:-1px;width:90px;height:@height;
      background: @btnBackgroundColor;text-align: center;
      font-size: 14px;color:#666666;text-decoration: none;
    }
  }

}

/* 搜索类型下拉自定义样式 */
.ui-selectmenu-menu{
  &.search-type-menu{
    .ui-menu{
      border-color: #c0c0c0;
    }
    .ui-menu-item{
      line-height: 26px;padding: 0 4px;border:none;color:#3366cc;
      &.ui-state-focus{
        margin:0;background-color: #eee;
      }
    }
  }
}

