@media (max-width: 400px){
  @wrapper : 300px;
  @halfSpace : @space*0.5;
  .wrapper{
    width:@wrapper;
  }
  .mh{
    display: none;
  }
  .main{
    width:auto;margin:30px 10px!important;
    >.ui-box.ui-box-gray{
      padding:@halfSpace;
    }
  }
  .offset-top{margin-top:@halfSpace!important;}
  .offset-right{margin-right:@halfSpace!important;}
  .offset-bottom{margin-bottom:@halfSpace!important;}
  .offset-left{margin-left:@halfSpace!important;}

  .ui-crumb{
    width:auto;
    margin:0 10px;
    >span:first-child{
      display: none;
    }
  }
  
  /*topbar*/
  .ui-topbar{
    height: 40px;
    line-height: 40px;
    
    .item{
    }
    .wrapper{
      >.fl{
        >.item{
          display: none;
          &.nav-toggle{
            display: block;
          }
        }
      }

    }
  }

  /*topnav*/
  .ui-topnav-wrapper{
    display: none;
    position: fixed;z-index: 100;
    left:0;width:100%!important;top:0;height: 100%;
    background-color: rgba(0, 0, 0, 0.66);
    
    .ui-topnav{
      box-sizing: border-box;
      position: absolute;overflow: hidden;
      left:-70%;top:0;height:100%;width:70%;
      padding: @space*2 0;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.72);

      >.item{
        float:none;
        position: static;

        .name{
          display: block;
          font-size: 14px;
          padding: @space*0.25 @space;
          background-color: #0a4891;
          color: #fff;
          &.arrow:after{
            display: none;
          }
        }
        .subnav{
          position: static;z-index: 10;
          width: auto;
          width:auto;
          border:none;
          box-shadow: 0 -10px 10px -10px rgba(0,0,0,.72) inset,0 10px 10px -10px rgba(0,0,0,.72) inset;

          >li{
            background: transparent;
            padding:0;
            >a{
              font-size: 12px;
              padding: @space*0.25 @space;
            }
          }
        }
      }
      >.padding{
        display: block;
        padding: 0;
        >a{
          display: block;
          font-size: 14px;
          padding: @space*0.25 @space;
        }
      }
      >.database-list{
        display: none;
      }
    }
    &.open{
      display: block;
    }
  }
  

  /*header-bar*/
  .header-bar{
    form{
      width:auto;
      margin:0 10px;
    }
    .logo{
      display: none;
    }
    .search-box{
      display: block;
      width:auto;
      margin-left:0;
      padding-left: 60px;
      .search{
        width:130px;
      }
      .search-type-select{
        width:60px;
      }
    }
    .link-vip{
      display: none;
    }
  }

  /*form*/
  .form{
    .form-box{
      button.btn.form-control-width{
        width:180px;
      }
      .form-control{
        &+.checkbox{
          font-size: 12px;
          padding-right: 0;
          padding-left: 14px;
          width:2em;overflow: hidden;white-space: nowrap;
          input{
            margin:4px 0 0 -14px;
          }
        }
      }
      .link-select-wrap{
        width:auto;
      }
    }
    &.align-right{
      .form-label{
        width:50px;
      }
      .form-control{
        box-sizing: border-box;
        height: 30px;
        width:180px;
        &.half{
          width:84px;
        }
      }
    }
    &.form-style-2{
      .form-groups{
        width:auto;
        float:none;
      }
    }
    &.form-style-2 .form-double-groups{
      width:auto;
      float:none;
      
      .form-group{
        width:auto;float:none;
      }
    }

  }

  /*.filter*/
  .ui-filter{
    .row{
      .key{
        width: 5em;text-align: left;
        margin-right: @halfSpace;
      }
      .values{
        .link{
          margin-right: @halfSpace;
          white-space: nowrap;
        }
      }
    }
  }

  /*footer*/
  footer{
    padding: 10px;
    text-align: center;
    .wrapper{
      >.clearfix{
        height: auto;
        line-height: 1.42;
      }
    }
      
    .fa{
      font-size: 16px;
    }
    .fl,.fr{
      float:none;
    }
    &.user-footer{
      .follow{
        display: none;
      }
      .contacts{
        display: none;
      }
      .wrapper>.relative{
        min-height: auto;
        >p{
          display: none;
          &:first-child{
            display: block;
          }
        }
        
      }
    }
  }


  /*用户中心*/
  .user-header-bar{
    .logo-box{
      margin-left: 0;
      padding-left: 208px;
      .text{
        padding-left: @space*0.25;
        white-space: nowrap;
        font-size: 12px;
        .fs18{
          font-size: 16px!important;
        }
      }
    }
    .links{
      display: none;
    }
    .search-box{
      float: none;margin-top: @halfSpace;
      width:100%;
    }
  }
  .main-box{
    .left-box{
      float:none;width:auto;margin-right: 0;
      margin-bottom: @halfSpace;
      .nav-boxs{
        min-height: auto;
      }
    }
    .right-box{
      >.user-info{
        >p{
          display: none;
        }
      }
      >.ui-panel{
        .ui-panel-content{
          min-height: auto;
        }
      }
    }
  }


  /*page-index*/
  .page-index{
    .cats{
      a{
        padding: 0 @space*0.25;
        display: none;
        &:nth-child(-n+4){
          display: inline-block;
        }
      }
    }
    .logo{
      display: block;
      width:auto;
      background-size: 100%;
    }
    .search-tab{
      width: auto;
      .search{
        width:170px;
      }
    }
    footer{
      .clearfix{
        margin:0;
      }
    }
  }

  /*page-user*/
  .page-user{
    .fq-msg{
      margin:0!important;
      >.ui-panel{
        width:auto;float:none;margin:@halfSpace 0 0 0;
      }
    }
    .ui-topbar .wrapper > .fl > .item.nav-toggle{
      display: none;
    }
  }
}