
/* topnav */
@navHeight : 28px;
@navPaddingHorizontal : @space;
@navPaddingVertical : @space/4;
@navColor : #dee2ec;
@navBackgroundColor : #0a4891;
@subnavWidth : 240px;
@subNavColor : #3366cc;
@subNavBackgroundColor : #ffffff;
@fontSize : 14px;

.ui-topnav{
  background-color: @navBackgroundColor;
  height: @navHeight+@navPaddingVertical*2;padding: 0 @navPaddingHorizontal;
  position: relative;z-index: 1;
  .item{
    float:left;position: relative;
    .name{
      display: inline-block;padding:@navPaddingVertical @navPaddingHorizontal;
      color:@navColor;line-height: @navHeight;font-size: @fontSize;
      position: relative;z-index: 2;cursor:default;font-weight: 700;
      &:hover{text-decoration: none;}
      &.arrow{
        padding-right:@navPaddingVertical*4;
        &:after{
          content:"";position: absolute;z-index: 2;
          right:@navPaddingVertical*4+-12px;bottom:50%;
          margin:0 0 -6px -4px;border:4px solid transparent;
          border-top-color: #8fabcc;
        }
      }
    }
    .subnav{
      position: absolute;z-index: 1;
      width:@subnavWidth;left:-1px;top:@navHeight+@navPaddingVertical*2-1;
      display: none;padding: @space/2 0;
      background-color: @subNavBackgroundColor;
      border:1px solid @borderColor;box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
      li{
        padding-left: 20px;background-position: 10px center;
        a{
          display: block;_zoom:1;color:@subNavColor;
          padding: floor(@navPaddingHorizontal*0.5) floor(@navPaddingVertical*0.8);
        }
      }
    }

    &.active{
      .name{
        background-color: @subNavBackgroundColor;
        color: @subNavColor;
      }
      .subnav{
        display: block;
      }
    }
  }

  /* padding */
  .padding{
    .inline-block();line-height: @navHeight;
    padding:@navPaddingVertical @navPaddingHorizontal;
    font-weight: 700;
    font-size: @fontSize;
    a{
      display: inline-block;
      color:@navColor;
    }
  }

  .database-list{
    min-height: inherit;
    .form-control{
      line-height: 18px;
      height: 18px;
    }
    .ui-dropdown-menu{
      @width : 20px;
      @boxWidth : 1000px;
      @halfSpace : @space/2;
      width:@boxWidth+-@space;
      min-height: 100px;_height:100px;
      padding:@space;
      font-size: 12px;
      background-color: #eee;
      border-top:none;
      box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
      .category{
        margin-top: 0;
        padding: 0;
        line-height: @width;
        border: none;
        background-color: transparent;
        .head{
          .database-icon{
            width:@width;height:@width;
          }
        }
        .body{
          padding: 0;
        }
      }
    }
    .db-loading,
    .db-nodata{
      top:0;
    }
  }

}
  /* 首页导航样式 */
.page-index .ui-topnav{
  @navHeight : 20px;
  @navPaddingHorizontal : @space/2;
  @fontSize : 12px;
  height: @navHeight+@navPaddingVertical*2;padding: 0 @navPaddingHorizontal;
  .item{
    .name{
      line-height: @navHeight;padding:@navPaddingVertical @navPaddingHorizontal*2 @navPaddingVertical @navPaddingHorizontal;
      font-size: @fontSize;
      font-weight: 400;
    }
  }
  .subnav{
    top:@navHeight+@navPaddingVertical*2-1;
  }
  .padding{
    padding:@navPaddingVertical @navPaddingHorizontal;
    line-height: @navHeight;
    font-weight: 400;
    font-size: @fontSize;
  }
  .database-list{
    display: none;
    .form-control{
      line-height: 14px;height:14px;
    }
  }

}

.ui-topnav-wrapper{
  width: @wrapper;margin: 0 auto;
  position: relative;z-index: 8;
}