/*面包屑*/
.ui-crumb{
  @padding : 6px;
  padding: @padding;
  width: @wrapper+-(@padding+1)*2;
  margin: auto;
  border: 1px solid @borderColor;
  position: relative;
  background-color: #fff;
  em{
    font-style: normal;
    font-family: consolas;
  }
  >a{
    color:@blue;
  }
  .info{
    position: absolute;top:@padding;right:@padding;
    .fa{
      font-size: 14px;
    }
  }
}

/*详情页默认隐藏，防止dom操作的抖动*/
.detail-html{
  
  body{
    display: none;
  }
  /*如果不是iframe页面则显示*/
  &.no-iframe{
    body{
      display: block;
    }
  }

  /*如果是iframe则在js里处理body显示*/
  &.iframe{
    background: url(http://static.yaozh.com/images/core/loading-50.gif) no-repeat center center transparent;
    height: 100%;
  }

}


