/*面包屑*/
.ui-crumb{
  @padding : 6px;
  padding: @padding;
  width: @wrapper+-(@padding+1)*2;
  margin: auto;
  border: 1px solid @borderColor;
  position: relative;
  background-color: #fff;
  em{
    font-style: normal;
    font-family: consolas;
  }
  >a{
    color:@blue;
  }
  .info{
    position: absolute;top:@padding;right:@padding;
    .fa{
      font-size: 14px;
    }
    a:hover{
      color:@blue;
    }
  }
}
/* 级联下拉 */
.link-select-wrap{width:300px;} 

html.iframe{
  body{
    margin: @space/2;
  }
}

/*发布动画*/
.publish-animate{
  position: absolute;right: 100px;top: -88px;
  width:105px;height:95px;
  .img{
    position: absolute;right:0;top:0;
    width:105px;height:95px;
    background: url(//static.yaozh.com/images/project/db/xh.png) no-repeat 0 0 transparent;
  }

  &.publish-style1{
    margin-top: 28px;
  }
}

/*无数据*/
.db-nodata{
  @defaultHeight : 100px;
  position: relative;
  padding: @space 0;
  height: @defaultHeight+-@space*2;overflow: hidden;
  font-size: 14px;
  .text{
    line-height: 20px;
    position: absolute;
    left:50%;top:50%;
    margin:-10px 0 0 @space/2;
  }
  .xiaozhi-girl{
    position: absolute;
    top: 50%;
    right: 50%;
    margin-right: @space/2;
    margin-top: -44px;
  }
  &.base-list{
    padding: 100px 0;
    .xiaozhi-boy-cry,
    .xiaozhi-boy-sport,
    .xiaozhi-girl-kefu{
      position: absolute;
      right:50%;top:50%;
      margin-right: 200px;
      margin-top: -44px;
    }
    .to-custom:hover{
      color:@blue;
    }
    .text{
      margin-top: -20px;
      margin-left: -160px;
    }
  }
}

/*小智*/
.xiaozhi-boy,
.xiaozhi-girl,
.xiaozhi-boy-cry,
.xiaozhi-boy-sport,
.xiaozhi-girl-kefu{
  position: relative;
  width: 88px;height: 88px;
  .img{
    position: absolute;right:0;top:0;
    width:88px;height:88px;
  }
}
/*女小智*/
.xiaozhi-girl .img{background: url(//static.yaozh.com/images/project/db/xiaozhi_girl.png) no-repeat 0 0 transparent;}
/*男小智*/
.xiaozhi-boy .img{background: url(//static.yaozh.com/images/project/db/xiaozhi_boy.png) no-repeat 0 0 transparent;}
/* 男小智-哭 */
.xiaozhi-boy-cry .img{background: url(//static.yaozh.com/images/project/db/xiaozhi_boy_cry.png) no-repeat 0 0 transparent;}
/* 男小智-运动 */
.xiaozhi-boy-sport .img{background: url(//static.yaozh.com/images/project/db/xiaozhi_boy_sport.png) no-repeat 0 0 transparent;}
/* 女小智-客服 */
.xiaozhi-girl-kefu .img{background: url(//static.yaozh.com/images/project/db/xiaozhi_girl_kefu.png) no-repeat 0 0 transparent;}

/* 数据库加载中 */
.db-loading{
  @defaultHeight : 100px;
  position: relative;
  padding: @space 0;
  height: @defaultHeight+-@space*2;overflow: hidden;
  font-size: 14px;
  .text{
    line-height: 20px;
    position: absolute;
    left:50%;top:50%;
    margin:-10px 0 0 @space/2;
  }
  .xiaozhi-girl{
    position: absolute;
    top: 50%;
    right: 50%;
    margin-right: @space/2;
    margin-top: -44px;
  }
  &.base-list{
    padding: 80px 0;
  }
}

/* 未登录，非VIP提示页，系统提示成功，错误 */
.no-login,.no-vip,.msg-success,.msg-error{
  padding:20px 20px 20px 110px;
  width:360px;margin:60px auto;
  background: url(//static.yaozh.com/images/project/db/xiaozhi_boy.png) no-repeat 0 center transparent;
  &.msg-error{
    background: url(//static.yaozh.com/images/project/db/xiaozhi_boy_cry.png) no-repeat 0 center transparent;
  }
}


