/*面包屑*/
.ui-crumb{
  @padding : 6px;
  padding: @padding;
  border:1px solid @borderColor;
  position: relative;
  background-color: #fff;
  em{
    font-style: normal;
    font-family: consolas;
  }
  >a{
    color:@blue;
  }
  .info{
    position: absolute;top:@padding;right:@padding;
  }
}
