/* 左右布局 */
.main-box{
  @leftWidth : @leftBoxWidth;
  .zoom();
  .left-box{
    width:@leftWidth;margin-right: @space;
    float:left;
    .nav-boxs{
      @sp : 14px;
      font-size: 14px;min-height: 500px;
      border:1px solid @borderColor;
      background-color: #fff;overflow: hidden;
      a{
        display: block;text-decoration: none;
        &:hover{
          color : @blue;
        }
      }
      .nav-box{
        margin: -1px @space 0;
        border-top: 1px solid @borderColor;
        .nav-title{
          font-weight: 700;font-size: 16px;
          margin: @sp -@space;padding:0 @space 0 @space+-4;border-left: 4px solid transparent;
          .fa{
            font-size: 18px;
          }
          &.active{
            color : @blue;
            border-left-color: @blue;
          }
        }

        .nav-sub{
          margin: 0 -@space;
          a{
            margin:floor(@space*0.8) 0; padding: 0 32px;
            &.active{
              color : @blue;
            }
          }
        }
      }
    }
  }
  .right-box{
    .zoom();
    >.ui-panel>.ui-panel-content{
      min-height: 420px;
      .zoom();
    }
  }
}

/*404 notfound*/
.notfound{
  background:url(//static.yaozh.com/images/project/db/notfound/bj.gif); font-family:"microsoft yahei";
  .top{
    background:#fff; height:50px; overflow:hidden; margin:0 auto;

    .top-w{ 
      width:1000px; margin:0 auto; line-height:50px;
    }
    .top-logo{ 
      background: url(//static.yaozh.com/images/project/db/logo.png) no-repeat;
      width: 260px;
      height: 40px;
      background-position: 0 -59px;
      float: left;
      display: inline-block;
      margin-top: 3px;
    }
    .nav{
      float:right;
      a{ color:#7c7c7c;}
      a:hover{ color:#e74c3c;}
      ul li{ float:left; padding:0 10px; font-size:14px;}
    }
  }
  
  .overall{
    position: absolute;width: 100%;height: 100%;
  }
  .error{
    color:#fff;z-index:99;width: 960px;height: 600px;
    position: relative;left: 50%;top: 50%;margin-left: -480px;margin-top: -300px;
    .error-w{ 
      position:absolute; top:0; left:235px;text-align:center; width:470px;
    }
    .er{ 
      background:url(//static.yaozh.com/images/project/db/notfound/error404.png) no-repeat;width:470px; height:130px;
    }
    .ea{ 
      font-size:45px; text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.7); 
      font-weight:500; letter-spacing:5px; padding-top:5px;
    }
    .em{ 
      font-size:18px; text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.7); 
      letter-spacing:2px; padding:20px;
    }
    .eb-bton{ 
      width:147px; height:49px; background:url(//static.yaozh.com/images/project/db/notfound/btn.png) 0 0 no-repeat;
      display:block; margin:0 auto; margin-top:10px;
    }
    .eb-bton:hover{ 
      background:url(//static.yaozh.com/images/project/db/notfound/btn.png) 0 -51px no-repeat; _background-position:0 -50px 
    }
  }

  .foot{ 
    position:absolute; bottom:0px; overflow:hidden; width:100%; height:300px;
    .ft{ 
      position:absolute;
    }
    .ft1{ 
      z-index:1;top:0;left:0;
    }
    .ft2{ 
      z-index:2;top:0;left:0;
    }
    .ft3{ 
      z-index:3;top:0;left:0;
    }
    .ft4{ 
      z-index:4;top:0;left:0;
    }
  }
  .foot-w{
    position:absolute;left:50%;width:2048px;height:150px;margin-left: -1024px;bottom:0;
  }
}

/* vip功能页面 */
.page-vip{
  .left-box{
    float: left;
    width:800px;
  }
  .right-box{
    float: right;
    width:350px;
    .item{
      @width : 100px;
      height: @width+-20;
      position: relative;
      border:1px solid @borderColor;
      margin-top: @space*2;
      padding: 10px 10px 10px @width+10;
      line-height: 1.6;
      .head{
        position: absolute;
        left:0;top:0;height: @width+-20;width:@width;
        padding: 10px 0;
        border-right: 1px solid @borderColor;
        background-color: #f8f8f8;text-align: center;

        .name{
          display: inline-block;margin-top: 10px;
        }
      }
      .fa{
        font-size: 50px;
        color: @blue;
        position: relative;
      }
      .sicon{
        position: absolute;
        right: -10px;
        bottom: -6px;
        font-size: 16px;
        color: #fff;
        border-radius: 14px;
        padding: 4px;
        width: 16px;
        height: 16px;
        border: 2px solid #fff;
        background-color: @blue;

      }
    }
  }

  .vip-action-tab{
    .item{
      margin:@space 0 @space*4;
      .fs16{
        margin:@space/2;
      }

    }
  }
}

/* 友情链接 */
.page-links{
  @tipWidth : 400px;
  .links{
    a{
      display: inline-block;
      width:160px;
      font-size: 14px;
      padding: @space/4 @space/2;
      margin:@space/4;
      text-decoration: none;
      
      &:hover{
        color: @blue;
      }
    }
  }
  .add-links-box{
    position: relative;
    padding-right: @space+@tipWidth;
  }
  .add-links-form{
    margin-left: 100px;
  }
  .add-links-tips{
    width:@tipWidth+-(@space+1)*2;
    position: absolute;
    top:@space;right: 0;
    line-height: 2;
  }
}

/*审评结论*/
.page-audit{
  @blue : #418dff;
  @gray : #b2b2b2;
  @orange : #ff6600;
  h1{
    font-size: 40px;color:@blue;text-align: center;
    background-color: #e5e5e5;font-weight:400;
    line-height: 100px;
  }
  .event-list{
    @itemWidth : 1200px;
    @itemHeight : 200px;
    @iconWidth : 80px;
    @fontSize : 24px;
    @skew : 0.5;
    border-top: 3px solid @blue;
    margin: 100px 0;padding: 80px 0 0;
    position: relative;
    .item{
      width:@itemWidth;min-height:@itemHeight;_height:@itemHeight;
      margin:0 auto;overflow: hidden;*zoom:1;
      position: relative;font-size: 24px;line-height: 1;
      color:@gray;
      .icon{
        position: absolute;
        left:@itemWidth*@skew+-@iconWidth/2;
        top:@itemHeight*0.5+-@iconWidth/2;
        line-height: @iconWidth;width:@iconWidth;height:@iconWidth;
        font-size: floor(@iconWidth*0.6);color:@gray;background-color: #fff;
        border:2px solid @gray;text-align: center;border-radius: @iconWidth/2+2;
        .fa{
          margin-left: 4px;
        }
      }
      .year{
        position: absolute;
        right: @itemWidth*(1-@skew)+@iconWidth;
        top:@itemHeight*0.5-@space*0.25-@fontSize*0.85;
        font-size: floor(@fontSize*0.85);
      }
      .date{
        position: absolute;
        right: @itemWidth*(1-@skew)+@iconWidth;
        top:@itemHeight*0.5+@space*0.25;
        font-size: floor(@fontSize*0.9);
        font-weight: 700;
      }
      .title{
        position: absolute;
        left: @itemWidth*@skew+@iconWidth;
        top:@itemHeight*0.5+-@fontSize*0.5;
        white-space: nowrap;
      }
      .line{
        width:3px;height:100%;
        background-color: @gray;
        position: absolute;left:@itemWidth*@skew;top:0;
        z-index: -1;
      }
      .text{
        @iWidth : @iconWidth*1.4;
        font-size: 30px;
        position: absolute;
        left:@itemWidth*@skew+-@iWidth/2;
        top:@itemHeight*0.5+-@iWidth/2;
        line-height: @iWidth;width:@iWidth;height:@iWidth;
        font-size: floor(@iWidth*0.3);color:@orange;text-align: center;
        border:2px solid @orange;border-radius: @iWidth/2+2;
        background-color: #fff;z-index: 9;
      }
      .detail{
        @bColor : #e1e9f6;
        @fSize : floor(@fontSize*0.68);
        font-size: @fSize;
        background-color: @bColor;
        border-radius: 5px;
        border:1px solid #dddddd;
        padding: @space;
        color:#5075ac;
        margin: @itemHeight*0.5+@iconWidth*0.5 4px 4px @itemWidth*@skew+@iconWidth;
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);

        .node{
          border-top:2px dashed #ddd;
          height:0;margin:@fSize*1.8 0 @fSize*1.8 @space;position: relative;
          .dot{
            @dWidth : floor(@space*0.8);
            position: absolute;
            left:-@space;background-color: #b9cdf0;
            height: @dWidth;width: @dWidth;top:-@dWidth*0.5;
            border-radius: ceil(@dWidth*0.5);
            &:after{
              position: absolute;content: "";
              width:1px;height:@fSize*2;
              top:(@dWidth+-@fSize*2)*0.5;left:@dWidth*0.5;
              background-color: #b9cdf0;
            }
          }
          .name{
            position: absolute;
            padding: 0 @space*0.5;background-color: @bColor;
            height: @fSize;line-height: @fSize;
            top:-@fSize*0.5;
          }
          .time{
            position: absolute;
            padding: 0 @space*0.5;background-color: @bColor;
            height: @fSize;line-height: @fSize;
            top:-@fSize*0.5;right:0;
          }

          &:first-child{
            margin-top: @fSize*0.5;
            .dot:after{
              top:0;
            }
          }
          &:last-child{
            margin-bottom: @fSize*0.5;
            .dot:after{
              top:-@fSize*1.75;
            }
          }
        }
        .txt{
          margin-bottom: @space;
          &:last-child{
            margin-bottom: 0;
          }
        }
      }
      .row{
        position: absolute;top:50%;
        width:100%;height:0;z-index: 1;
        border-top:3px dotted @gray;
      }

      &.active{
        color:@blue;
        .icon{
          background-color: @blue;color:#fff;
          box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.5);
          border-color: #eee;
        }
        .line{
          background-color: @blue;
        }
      }

    }
    .clock{
      @iconWidth : 140px;
      position: absolute;width:@iconWidth;height:@iconWidth;line-height: @iconWidth;
      left:@itemWidth*@skew+-(@iconWidth/2+5);top:-(@iconWidth/2-1)-80;text-align: center;
      border:5px solid #eee;border-radius: @iconWidth/2+5;
      font-size: @iconWidth;color:@orange;
      background-color: #fff;z-index: 10;
      box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.5);
      .fa{
        vertical-align: top;
      }
    }

    .wrap{
      width:@itemWidth;margin:0 auto;position: relative;
    }
    .state{
      position: absolute;left:@itemWidth*@skew+-80;top:100%;
      color:@orange;font-weight: 700;
      background-color: #f1f1f1;font-size: 24px;
      width:160px;height:40px;text-align: center;line-height: 40px;

      &:before,&:after {
        content: "";
        position: absolute;
        z-index: -2;
        bottom:15px;
        left:10px;
        width:50%;
        height:20%;
        max-width:300px;
        max-height:100px;
        -webkit-box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
        -moz-box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
        box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
        -webkit-transform:rotate(-3deg);
        -moz-transform:rotate(-3deg);
        -ms-transform:rotate(-3deg);
        -o-transform:rotate(-3deg);
        transform:rotate(-3deg);
      }

      &:after {
        right:10px;
        left:auto;
        -webkit-transform:rotate(3deg);
        -moz-transform:rotate(3deg);
        -ms-transform:rotate(3deg);
        -o-transform:rotate(3deg);
        transform:rotate(3deg);
      }

    }
    

  }
}

/*辅助工具*/
.page-tool{
  @itemSpace : 50px;
  @pageWidth : 800px;
  .header{
    width: @pageWidth;margin:0 auto;height: 86px;
    background: url(http://static.yaozh.com/images/project/db/other/tool_head_bg.jpg) no-repeat center 0 transparent;
    border-bottom: 1px solid @borderColor;
  }
  .tool-box{
    width:@pageWidth;
    height: 549px;overflow: hidden;
    margin: @itemSpace auto;
    .ui-sliderbox-control{
      width: 100%;text-align: center;
      padding: 0;
      a{
        background: @blue;
        .size(16px);
        border-radius: 8px;
      }
    }
  }
  .tool-panel{
    width:@pageWidth;
    line-height: 1.6;
    color:#666666;
    .item{
      @itemWidth : (@pageWidth+-@itemSpace*3)/2;
      width: @itemWidth+-(@space+100px+2);
      border:1px solid @borderColor;
      padding: @space @space @space+31px 100px;
      position: relative;
      margin: 0 0 @itemSpace @itemSpace;
      float:left;overflow: hidden;
      .logo{
        width:100px;height:100px;
        position: absolute;
        left: 0;top:0;
        background: url(http://static.yaozh.com/images/project/db/other/tool_icons.jpg) no-repeat center 0 transparent;

        &.logo2{
          background-position: 0 -100px;
        }
        &.logo3{
          background-position: 0 -200px;
        }
        &.logo4{
          background-position: 0 -300px;
        }
        &.logo5{
          background-position: 0 -400px;
        }
        &.logo6{
          background-position: 0 -500px;
        }
        &.logo7{
          background-position: 0 -600px;
        }
      }
      .title{
        font-size: 16px;
        height: 24px;
      }
      .summary{
        height: 36px;
        margin-top: @space/2;
        overflow: hidden;
      }

      .btn{
        z-index: 10;
        position: absolute;
        .opacity(0);top:50px;
        left:@itemWidth*0.5+-57;width:80px;
      }
      .status{
        z-index: 10;
        position: absolute;
        left:0;bottom:0;width: 100%;
        background-color: #f8f8f8;
        height: 30px;font-size: 14px;line-height: 20px;
        border-top: 1px solid @borderColor;
        overflow: hidden;

        .s-item{
          float:left;text-align: center;
          margin-top: 5px;
          width: floor((@itemWidth+-2)/3)-1;
          border-left:1px solid @borderColor;
          margin-left: -1px;
        }
        .fa{
          color:#a5d3fa;
          font-size: 16px;
          margin-right: @space/2;
        }
        .text{
          display: none;
        }
      }
      .pop{
        z-index: 1;
        position: absolute;
        left:0;top:100%;width:100%;height:100%;
        background: #768694;
        .opacity(0.8);
      }

      &.hover{
        .status{
          border-top:none;background: transparent;
          color:#fff;font-size: 12px;
          .s-item{
            border-color: #fff;
          }
          .fa{
            display: none;
          }
          .text{
            display: inline-block;
          }
        }
        .pop{
          top:0;
        }
        .btn{
          opacity: 1;
        }
      }

    }
  }
}

/*分子量计算器*/
.page-formula{
  @boxHeight : 400px;
  .wrapper{
    width: 800px;
  }
  .ui-box-yellow{
    height:@boxHeight+-(@space+1)*2;
  }
  .result{
    height:@boxHeight+-(@space+1)*2;
    overflow-y:auto;
    .em4{
      display: inline-block;text-align: right;
    }
    p{
      margin-bottom: @space/2;
    }
    .tips{
      margin-top: 190px;text-align: center;color:@gray;
    }
  }
  .form{
    &.form-style-2{
      .form-double-groups{
        width: 60%;
      }
      .form-groups{
        width: 40%;
      }      
    }
  }
  
}

