.page-list{
  .zh-list{
    .zh-li-icon{
      width:24px;height: 24px;margin:0 0 2px 10px;
      vertical-align: middle;
      display: inline-block;
    }
    .ui-panel{
      position: relative;top:0;overflow: hidden;padding: 0;
    }
    .ui-panel-title{
      padding: @space @space 0 @space;
    }
    .ui-panel-content{
      min-height: 32px;
      overflow: hidden;
      padding-bottom: @space;
      a{
        display: block;line-height: 24px;font-size: 14px;
        position: relative;padding: 4px @space*2;
        .name{
          display: inline-block;
        }
        .info{
          right: 20px;top:4px;
          position: absolute;
          em{
            color:@blue;
          }
        }
        &:hover{
          color:@red;
          background-color: #eeeeee;
        }
      }    
    }
  
  }
  
}

.list-actions{
  position: relative;
  bottom:-@space;
}