.page-custom{
  @blue : #245dc1;
  @dbSpace : 50px;
  @itemWidth : (@wrapper+-@dbSpace)/2;
  .header-bar{
    padding: 0;height: auto;
    .wrapper{
      position: relative;
    }
    .home{
      position: absolute;
      width:280px;height:60px;
      left:4px;top:26px;
    }
  }
  .banner{
    @height : 403px;
    position: relative;height: @height;
    img{
      @width : 2000px;
      position: absolute;left:50%;
      width:@width;margin-left: -@width/2;height: @height;
    }
  }

  .tese{
    .clearfix();
    margin-top: @space*3;
    .item{
      position: relative;float:left;width: 270px;
      padding-left: 100px;margin: 0 15px;height: 75px;
      .img{
        width:100px;height:80px;position: absolute;top:0;left:0;
        text-align: center;
      }
      .title{
        font-size: 14px;color:@blue;font-weight: 700;
      }
      .summary{
        height:50px;overflow: hidden;margin-top: 6px;
      }
    }
  }
  .contacts{
    .clearfix();margin-top: 40px;
    margin-left:-@dbSpace;
    .item{
      width: @itemWidth+-2+-40;height:160px;float:left;
      margin-left:@dbSpace;padding: 20px 20px;
      background-color: #f7f7f7;font-size: 14px;
      border:1px solid @borderColor;

      .top{
        .zoom();
        .head{float:left;margin-right: 20px;width:84px;}
        ul{
          float:left;width:400px;
          li{
            float: left;white-space: nowrap;
            width:170px;margin: 10px 20px 20px 0;
            .fa{
              font-size: 16px;margin-right: 6px;
            }
          }
        }
      }
      
    }
  }
  .db-list{
    overflow: hidden;*zoom:1;
    margin-left: -@dbSpace;
    .item{
      position: relative;height: 90px;
      width: @itemWidth+-110;float: left;
      margin-left: @dbSpace;margin-top: -1px;
      border-top:1px solid @borderColor;
      padding: 40px 0 40px 110px;
      .img{
        position: absolute;left:0;top:40px;
        width:90px;height:90px;background-color: @borderColor;
        img{width:100%;height:100%;}
      }
      .title{
        font-size: 14px;font-weight: 700;
        a{
          color:@blue;
        }
      }
      .summary{
        margin-top: 10px;line-height: 1.8;height: 62px;overflow: hidden;
      }
    }
  }
  .question{
    border:1px solid @borderColor;padding: 20px 0 40px;
    .title{
      font-size: 20px;font-weight: 700;margin-left: 20px;
      .fa{font-size: 22px;margin-right:5px;color:@blue;}
    }
    .cat-list{
      margin-top: 20px;
      overflow: hidden;*zoom:1;
      .item{
        float: left;width:25%;margin-left: -1px;
      }
      .cat-name{
        font-size: 14px;font-weight: 700;padding: 0 90px;
      }
      .list{
        margin-top: 10px;padding: 0 90px;
        border-left: 1px dotted @borderColor;
        line-height: 24px;
        a{
          display: block;
        }
      }
    }
  }

}