.page-custom{
  @dbSpace : 80px;
  @itemWidth : (@wrapper+-@dbSpace)/2;
  .header-bar{
    padding: 0;height: auto;
  }
  .banner{
    @height : 403px;
    position: relative;height: @height;
    img{
      @width : 1874px;
      position: absolute;left:50%;
      width:@width;margin-left: -@width/2;height: @height;
    }
  }
  .main{
    padding: 80px 0;
  }
  .tese{
    .clearfix();
    .item{
      position: relative;float:left;width: 270px;
      padding-left: 100px;margin: 0 15px;height: 75px;
      .img{
        width:100px;height:80px;position: absolute;top:0;left:0;
        text-align: center;
      }
      .title{
        font-size: 14px;color:@blue;font-weight: 700;
      }
      .summary{
        height:50px;overflow: hidden;margin-top: 6px;
      }
    }
  }
  .contacts{
    .clearfix();
    margin-left:-@dbSpace;
    .item{
      width: @itemWidth+-2;float:left;
      margin-left:@dbSpace;padding: 30px 40px;
      background-color: #f7f7f7;
      border:1px solid @borderColor;
      li{
        font-size: 14px;float: left;
        width:216px;margin: 10px;
        .fa{
          font-size: 16px;margin-right: 6px;
        }
      }
    }
  }
  .db-list{
    margin-top: 40px;
    .clearfix();
    margin-left: -@dbSpace;
    .item{
      width: @itemWidth;float: left;
      margin-left: @dbSpace;margin-top: -1px;
      border-top:1px solid @borderColor;
      padding: 40px 0;
    }
  }

}