.page-index{
  @searchBoxHeight : 36px;
  @searchBoxBorderWidth : 1px;
  @searchBoxContentHeight : @searchBoxHeight+-@searchBoxBorderWidth*2;
  margin:100px 0;
  .logo{
    display: inline-block;width:338px;height:53px;
    background: url(../images/project/db/logo.png) 0 0 no-repeat transparent;
  }
  .cats{
    a{
      display: inline-block;padding: 0 16px;text-decoration: none;font-weight: 700;
      color:#606060;
      &:hover,
      &.active{
        color: #dd4b39;
      }
    }
  }
  .search-tab{
    width:640px;margin:30px auto;font-size: 14px;
  }
  .search-box{
    margin-top: 6px;border:@searchBoxBorderWidth solid #1066ea;background-color: #fff;
    height:@searchBoxContentHeight;position: relative;
    .search{
      border:none;  width: 516px;height: @searchBoxContentHeight;padding: 0 10px;
    }
    .submit{
      position: absolute;top:0px;right: 0px;width:100px;
      height:@searchBoxContentHeight;
      background-color: #3079ed;border:none;color:#fff;font-weight: 700;cursor:pointer;
    }

  }
}