@red : #e74c3c;
@blue : #3366cc;
@wrapperWidth : 1200px;
.cl-blue{
  color:#1155d4;
}
.wrapper,.main{
  width:@wrapperWidth;margin:0 auto;
}
.download_qrcode{
  background: url(../images/project/db/download_qrcode.jpg) 0 0 no-repeat transparent;
  display: inline-block;width: 70px;height:70px;
}

.responsive-table{
  .tool-bar{
    margin-top: -30px;
    height: 30px;
    line-height: 30px;
    margin-bottom: 20px;
  }
}

