@red : #e74c3c;
@blue : #3366cc;
@wrapper : 1200px;
.cl-blue{
  color:@blue;
}
.wrapper,.main{
  width:@wrapper;margin:0 auto;
}
.main{
  min-height: 580px;
  margin: @space auto;
}

.responsive-table{
  .tool-bar{
    margin-top: -30px;
    height: 30px;
    line-height: 30px;
    margin-bottom: @space;
  }
}

i.vip-text{
  display: inline-block;border-radius: 2px;padding: 2px 4px;
  font-family: "Open Sans", sans-serif;font-style: normal;font-size: 12px;font-weight: 700;word-spacing: -3px;
  background-color: #f60;color:#fff;line-height: 14px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}
i.vip{
  width:20px;height:20px;display: inline-block;vertical-align: -4px;
  background: url(//static.yaozh.com/images/project/db/vip_icons.png) center -20px no-repeat transparent;
  &.vip1{
    background-position: center -13px;
  }
  &.vip2{
    background-position: center -63px;
  }
  &.vip3{
    background-position: center -113px;
  }
  &.vip4{
    background-position: center -163px;
  }
  &.vip5{
    background-position: center -217px;
  }
}
