/* @import "var.less"; */
/*颜色*/
/*border*/
/*控件基本属性*/
/*字体*/
/* @import "mixin.less"; */
/* 样式重置 */
/* @import "reset.less" */
.cl-blue {
  color: #3366cc;
}
.wrapper,
.main {
  width: 1200px;
  margin: 0 auto;
}
.main {
  min-height: 580px;
  margin: 16px auto;
}
.responsive-table .tool-bar {
  margin-top: -30px;
  height: 30px;
  line-height: 30px;
  margin-bottom: 16px;
}
i.vip-text {
  display: inline-block;
  border-radius: 2px;
  padding: 2px 4px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-size: 12px;
  font-weight: 700;
  word-spacing: -3px;
  background-color: #f60;
  color: #fff;
  line-height: 14px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}
i.vip {
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: -4px;
  background: url(//static.yaozh.com/images/project/db/vip_icons.png) center -20px no-repeat transparent;
}
i.vip.vip1 {
  background-position: center -13px;
}
i.vip.vip2 {
  background-position: center -63px;
}
i.vip.vip3 {
  background-position: center -113px;
}
i.vip.vip4 {
  background-position: center -163px;
}
i.vip.vip5 {
  background-position: center -217px;
}
/* @import "dialog.less" */
div.ui-dialog {
  padding: 0;
  border: none;
  overflow: hidden;
  border-radius: 0 0 3px 3px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}
div.ui-dialog .ui-widget-header {
  background-color: #ffffff;
  border: none;
  border-radius: 0;
  padding: 10px;
  height: 22px;
  line-height: 22px;
  font-size: 18px;
  font-weight: 400;
  font-family: "microsoft yahei";
}
div.ui-dialog .ui-widget-header .ui-dialog-title {
  margin: 0;
}
div.ui-dialog .ui-widget-header .ui-dialog-titlebar-close .fa {
  color: #fff;
}
/* @import "form.less" */
/*重置表单*/
.form {
  /* 自定义样式1 */
  /* 自定义样式2 */
}
.form .form-label {
  font-size: 12px;
  font-weight: 700;
  color: #666;
}
.form .form-box .btn.form-control-width {
  width: 196px;
  padding-left: 0;
  padding-right: 0;
}
.form .form-box button.btn.form-control-width {
  width: 198px;
  padding-left: 0;
  padding-right: 0;
}
.form .form-control {
  font-size: 12px;
  width: 180px;
}
.form .form-control.half {
  width: 75px;
}
.form select.form-control {
  width: 198px;
}
.form.align-right .form-label {
  padding-left: 0;
  width: 90px;
}
.form.form-style-1 {
  *zoom: 1;
}
.form.form-style-1:before,
.form.form-style-1:after {
  content: "";
  display: table;
}
.form.form-style-1:after {
  clear: both;
}
.form.form-style-1 .form-groups {
  width: 50%;
  float: left;
}
.form.form-style-1 .form-group {
  margin-bottom: 20px;
}
.form.form-style-2 {
  *zoom: 1;
}
.form.form-style-2:before,
.form.form-style-2:after {
  content: "";
  display: table;
}
.form.form-style-2:after {
  clear: both;
}
.form.form-style-2 .form-groups {
  width: 33.3%;
  float: left;
}
.form.form-style-2 .form-double-groups {
  width: 66.66%;
  float: left;
}
.form.form-style-2 .form-double-groups .form-group {
  width: 50%;
  *width: 49.9%;
  float: left;
}
.form.form-style-2 .form-group {
  margin-bottom: 8px;
}
.form .box-height-2 {
  min-height: 76px;
  width: 220px;
}
/* 通用组件 */
/* @import "dbicons.less" */
.dbicons {
  display: inline-block;
  font-style: normal;
  width: 30px;
  height: 30px;
  vertical-align: middle;
  background: url(../images/project/db/dbicons.png) no-repeat 0 0 transparent;
}
.dbicons.icon1-1 {
  background-position: 0 0;
}
.dbicons.icon1-2 {
  background-position: -30px 0;
}
/* @import "tag.less" */
.tag {
  display: inline-block;
  width: 10px;
  height: 10px;
  background: url(../images/project/db/tag.png) 0 0 no-repeat transparent;
}
.tag.tag-new {
  position: relative;
  top: -4px;
  left: 4px;
}
/* @import "navigation.less" */
/* topnav */
.ui-topnav {
  background-color: #0a4891;
  height: 36px;
  padding: 0 16px;
  position: relative;
  z-index: 1;
  /* padding */
}
.ui-topnav .item {
  float: left;
  position: relative;
}
.ui-topnav .item .name {
  display: inline-block;
  padding: 4px 16px;
  color: #dee2ec;
  line-height: 28px;
  font-size: 14px;
  position: relative;
  z-index: 2;
  cursor: default;
  font-weight: 700;
}
.ui-topnav .item .name:hover {
  text-decoration: none;
}
.ui-topnav .item .name.arrow {
  padding-right: 16px;
}
.ui-topnav .item .name.arrow:after {
  content: "";
  position: absolute;
  z-index: 2;
  right: 4px;
  bottom: 50%;
  margin: 0 0 -6px -4px;
  border: 4px solid transparent;
  border-top-color: #8fabcc;
}
.ui-topnav .item .subnav {
  position: absolute;
  z-index: 1;
  width: 240px;
  left: -1px;
  top: 35px;
  display: none;
  padding: 8px 0;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.ui-topnav .item .subnav li {
  padding-left: 20px;
  background-position: 10px center;
}
.ui-topnav .item .subnav li a {
  display: block;
  _zoom: 1;
  color: #3366cc;
  padding: 8px 3px;
}
.ui-topnav .item.active .name {
  background-color: #ffffff;
  color: #3366cc;
}
.ui-topnav .item.active .subnav {
  display: block;
}
.ui-topnav .padding {
  display: inline-block;
  *zoom: 1;
  *display: inline;
  line-height: 28px;
  padding: 4px 8px;
  font-weight: 700;
  font-size: 14px;
}
.ui-topnav .padding a {
  display: inline-block;
  color: #dee2ec;
}
.ui-topnav .database-list {
  min-height: initial;
}
.ui-topnav .database-list .form-control {
  line-height: 18px;
  height: 18px;
  width: 150px;
}
.ui-topnav .database-list .ui-dropdown-menu {
  width: 964px;
  min-height: 100px;
  _height: 100px;
  padding: 16px;
  font-size: 12px;
  background-color: #eee;
  border-top: none;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}
.ui-topnav .database-list .ui-dropdown-menu .category {
  margin-top: 0;
  padding: 0;
  line-height: 20px;
  border: none;
  background-color: transparent;
}
.ui-topnav .database-list .ui-dropdown-menu .category .head .database-icon {
  width: 20px;
  height: 20px;
}
.ui-topnav .database-list .ui-dropdown-menu .category .body {
  padding: 0;
}
.ui-topnav .database-list .db-loading,
.ui-topnav .database-list .db-nodata {
  top: 0;
}
.ui-topnav .tools {
  display: inline-block;
  border-radius: 2px;
  width: 28px;
  text-align: center;
}
.ui-topnav .tools:hover {
  background: #fff;
  color: #3366cc;
}
/* 首页导航样式 */
.page-index .ui-topnav {
  height: 28px;
  padding: 0 8px;
}
.page-index .ui-topnav .item .name {
  line-height: 20px;
  padding: 4px 16px 4px 8px;
  font-size: 12px;
  font-weight: 400;
}
.page-index .ui-topnav .subnav {
  top: 27px;
}
.page-index .ui-topnav .padding {
  padding: 4px 8px;
  line-height: 20px;
  font-weight: 400;
  font-size: 12px;
}
.page-index .ui-topnav .database-list {
  display: none;
}
.page-index .ui-topnav .database-list .form-control {
  line-height: 14px;
  height: 14px;
}
.ui-topnav-wrapper {
  width: 1200px;
  margin: 0 auto;
  position: relative;
  z-index: 8;
}
.header-bar-wrapper {
  z-index: 9;
}
/* @import "header.less" */
/* topbar */
.ui-topbar {
  background-color: #f1f1f1;
  border-bottom: 1px solid #cccccc;
  height: 30px;
  line-height: 30px;
  position: relative;
  z-index: 10;
}
.ui-topbar .item {
  float: left;
  padding: 0 8px;
}
.ui-topbar .item.nav-toggle {
  display: none;
  width: 24px;
  text-align: center;
  font-size: 20px;
}
.ui-topbar .item.nav-toggle:visited {
  background-color: transparent;
}
.ui-topbar .item.nav-toggle:active {
  background-color: #ccc;
}
.ui-topbar .item.app .app-icon {
  margin: 3px 10px;
  cursor: default;
  padding: 0 3px;
  line-height: 20px;
  border-radius: 3px;
  color: #fff;
  background-color: #427fed;
  border: 1px solid #3079ed;
}
.ui-topbar .item.app .app-icon .fa {
  font-size: 20px;
  position: relative;
  top: 2px;
  height: 20px;
}
.ui-topbar .item.app .subnav {
  width: 120px;
  padding: 10px 20px;
}
.ui-topbar .item.app .subnav .btn {
  display: block;
  height: 22px;
  color: #fff;
}
.ui-topbar .item.app .subnav .btn span {
  border-left: 1px solid #fff;
  line-height: 14px;
  margin: 4px 0 0 4px;
  padding: 0 8px;
}
.ui-topbar .item.app:hover .hover-layer {
  display: block;
}
.ui-topbar .item.user {
  position: relative;
  padding-left: 40px;
}
.ui-topbar .item.user img {
  position: absolute;
  width: 26px;
  height: 26px;
  top: 50%;
  margin-top: -13px;
  left: 6px;
}
.ui-topbar .item.sub-box {
  position: relative;
}
.ui-topbar .item.sub-box .name {
  display: block;
  position: relative;
  z-index: 2;
  background-color: #f1f1f1;
}
.ui-topbar .item.sub-box .subnav {
  display: none;
  line-height: 24px;
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 5px;
  min-width: 100px;
  border: 1px solid #cccccc;
  border-top: none;
  background-color: #f1f1f1;
}
.ui-topbar .item.sub-box .subnav a {
  display: block;
  padding: 0 6px;
}
.ui-topbar .item.sub-box:hover .subnav {
  display: block;
}
.ui-topbar .item.cl-blue {
  color: #3366cc;
}
.ui-topbar a {
  color: #666;
}
.ui-topbar .download_qrcode {
  display: inline-block;
  width: 80px;
  height: 80px;
}
/* header-bar */
.header-bar {
  padding: 16px 0;
  height: 40px;
  background-color: #fff;
}
.header-bar.stuck {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 2px 2px 2px #eee;
  border-bottom: 1px solid #ddd;
  z-index: 10;
}
.header-bar form {
  width: 1200px;
  margin: 0 auto;
}
.header-bar .logo {
  display: inline-block;
  width: 260px;
  height: 40px;
  background: url('../images/project/db/logo.png') no-repeat 0 -60px transparent;
  margin-left: 8px;
}
.header-bar .search-box {
  display: inline-block;
  *zoom: 1;
  *display: inline;
  border: 1px solid #c0c0c0;
  margin: 2px 0 0 80px;
  height: 34px;
  width: 430px;
  padding: 0 90px 0 84px;
  line-height: 34px;
  position: relative;
  vertical-align: top;
}
.header-bar .search-box .search-type-select {
  width: 84px;
  visibility: hidden;
  position: absolute;
  left: -1px;
  top: 0;
}
.header-bar .search-box .ui-dropdown-select {
  height: 34px;
  position: absolute;
  left: 0;
  top: 0;
}
.header-bar .search-box .ui-dropdown-select .ui-dropdown-select-name {
  height: 26px;
  line-height: 26px;
  border-radius: 0;
  border: none;
}
.header-bar .search-box .ui-autocomplete {
  height: 34px;
  float: left;
}
.header-bar .search-box .ui-autocomplete .ui-autocomplete-box {
  overflow: hidden;
}
.header-bar .search-box .ui-autocomplete .ui-autocomplete-list {
  margin-top: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.header-bar .search-box .search {
  border: none;
  border-left: 1px solid #c0c0c0;
  height: 34px;
  line-height: 34px;
  width: 422px;
  padding: 0 4px;
  color: #222;
  box-shadow: 1px 1px 1px #eeeeee inset;
  *margin-top: -1px;
}
.header-bar .search-box .search-btn {
  width: 90px;
  height: 36px;
  position: absolute;
  right: -1px;
  top: -1px;
  background: #427fed;
  text-align: center;
  font-size: 14px;
  color: #fff;
  text-decoration: none;
}
.header-bar .link-vip {
  display: inline-block;
  vertical-align: top;
  margin-left: 32px;
}
.header-bar .link-vip img {
  vertical-align: top;
}
/* user-header-bar */
.user-header-bar {
  background-color: #2673e9;
  padding: 20px 0;
}
.user-header-bar .wrapper {
  *zoom: 1;
}
.user-header-bar .wrapper:before,
.user-header-bar .wrapper:after {
  content: "";
  display: table;
}
.user-header-bar .wrapper:after {
  clear: both;
}
.user-header-bar .logo-box {
  float: left;
  padding-left: 210px;
  background: url('../images/project/db/logo.png') no-repeat 0 -109px transparent;
  color: #ffff00;
  text-decoration: none;
  height: 36px;
  margin-left: 8px;
}
.user-header-bar .logo-box .text {
  line-height: 1;
  border-left: 1px solid #7ba9ee;
  display: inline-block;
  padding-left: 10px;
  height: 30px;
  margin-top: 4px;
}
.user-header-bar .links {
  float: left;
  font-size: 14px;
  margin-left: 60px;
  height: 36px;
  line-height: 36px;
}
.user-header-bar .links a {
  display: inline-block;
  color: #fff;
  margin-right: 20px;
}
.user-header-bar .search-box {
  float: right;
  background-color: #fff;
  margin-top: 3px;
  display: inline-block;
  *zoom: 1;
  *display: inline;
  border: 1px solid #c0c0c0;
  height: 28px;
  line-height: 28px;
  vertical-align: middle;
  position: relative;
}
.user-header-bar .search-box .search-type-select {
  width: 64px;
  visibility: hidden;
}
.user-header-bar .search-box .ui-dropdown-select {
  height: 28px;
  vertical-align: top;
}
.user-header-bar .search-box .ui-dropdown-select .ui-dropdown-select-name {
  height: 20px;
  line-height: 20px;
  border-radius: 0;
  border: none;
  border-right: 1px solid #c0c0c0;
}
.user-header-bar .search-box .ui-dropdown-select .ui-dropdown-arrow {
  top: 12px;
}
.user-header-bar .search-box .ui-dropdown-select.open .ui-dropdown-arrow {
  top: 8px;
}
.user-header-bar .search-box .search {
  height: 28px;
  line-height: 28px;
  width: 260px;
  border: none;
  vertical-align: top;
  padding: 0 4px;
  color: #222;
  font-weight: 700;
  *height: 26px;
  *line-height: 26px;
}
.user-header-bar .search-box .search-btn {
  position: absolute;
  top: -1px;
  right: -1px;
  width: 90px;
  height: 30px;
  background: #d5d5d5;
  text-align: center;
  font-size: 14px;
  color: #666666;
  text-decoration: none;
}
/* 搜索类型下拉自定义样式 */
.ui-selectmenu-menu.search-type-menu .ui-menu {
  border-color: #c0c0c0;
}
.ui-selectmenu-menu.search-type-menu .ui-menu-item {
  line-height: 26px;
  padding: 0 4px;
  border: none;
  color: #3366cc;
}
.ui-selectmenu-menu.search-type-menu .ui-menu-item.ui-state-focus {
  margin: 0;
  background-color: #eee;
}
/* @import "footer.less" */
footer,
.footer {
  border-top: 1px solid #cccccc;
  background-color: #f2f2f2;
  padding: 20px 0;
  color: #606060;
}
footer a,
.footer a {
  color: #606060;
}
footer .clearfix,
.footer .clearfix {
  height: 24px;
  line-height: 20px;
}
footer .clearfix .fl a,
.footer .clearfix .fl a {
  margin-right: 20px;
}
footer .fa,
.footer .fa {
  font-size: 20px;
  margin: 0 6px;
  color: #333333;
}
footer .fa:hover,
.footer .fa:hover {
  text-decoration: none;
}
footer.user-footer,
.footer.user-footer {
  color: #999;
  background-color: #ffffff;
  border-top: 2px solid #488ede;
}
footer.user-footer .links,
.footer.user-footer .links {
  padding: 0 10px 20px 10px;
  position: relative;
}
footer.user-footer .links .follow,
.footer.user-footer .links .follow {
  position: absolute;
  right: 0;
  top: 0;
}
footer.user-footer .links a,
.footer.user-footer .links a {
  margin-right: 16px;
}
footer.user-footer .links a.fa,
.footer.user-footer .links a.fa {
  margin-right: 8px;
}
footer.user-footer .links a:hover,
.footer.user-footer .links a:hover {
  color: #3366cc;
}
footer.user-footer .relative,
.footer.user-footer .relative {
  min-height: 100px;
}
footer.user-footer .contacts,
.footer.user-footer .contacts {
  position: absolute;
  top: 10px;
  right: 10px;
}
footer.user-footer .contacts b,
.footer.user-footer .contacts b {
  color: #333333;
}
footer.user-footer p,
.footer.user-footer p {
  margin-top: 4px;
}
/* @import "filter.less" */
.ui-filter .row {
  min-height: 22px;
  line-height: 22px;
  border-bottom: 1px solid #cccccc;
  padding: 6px;
}
.ui-filter .row .key {
  width: 6em;
  text-align: right;
  float: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-right: 40px;
}
.ui-filter .row .values {
  position: relative;
  overflow: hidden;
  *zoom: 1;
}
.ui-filter .row .values .field {
  display: inline-block;
  height: 20px;
  line-height: 20px;
  border: 1px solid #cccccc;
  position: relative;
  padding: 0 24px 0 4px;
  margin-right: 5px;
  cursor: pointer;
}
.ui-filter .row .values .field em {
  color: #e74c3c;
}
.ui-filter .row .values .field .fa {
  position: absolute;
  right: 0;
  top: 0;
  color: #e74c3c;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  background-color: transparent;
}
.ui-filter .row .values .field:hover {
  border-color: #3366cc;
  text-decoration: none;
}
.ui-filter .row .values .field:hover .fa {
  color: #fff;
  background-color: #3366cc;
}
.ui-filter .row .values .link {
  display: inline-block;
  margin-right: 20px;
  color: #3366cc;
}
.ui-filter .row .values .num-area {
  display: inline-block;
}
.ui-filter .row .values .num-area input {
  display: inline-block;
  width: 3em;
  border: 1px solid #cccccc;
  height: 20px;
  line-height: 20px;
}
.ui-filter .row .values .num-area input:focus {
  border-color: #5c85d6;
}
.ui-filter .row .values .num-area .btn {
  margin-left: 4px;
  padding: 0 8.4px;
  line-height: 20px;
  height: 22px;
}
.ui-filter .row .values .radio,
.ui-filter .row .values .checkbox,
.ui-filter .row .values .text {
  display: inline-block;
  line-height: 22px;
  vertical-align: middle;
  padding: 0 6px;
}
.ui-filter .row .values .radio,
.ui-filter .row .values .checkbox {
  position: relative;
  padding-left: 16px;
}
.ui-filter .row .values .radio input,
.ui-filter .row .values .checkbox input {
  position: absolute;
  margin: 6px 0 0 -16px;
  *margin: -3px 0 0 -20px;
  _margin-top: -4px;
}
.ui-filter .row .values .clear-all {
  position: absolute;
  right: 0;
  top: 0;
}
.ui-filter .row .values .space {
  margin-right: 20px;
}
.ui-filter .row.multi-select {
  position: relative;
}
.ui-filter .row.multi-select .values {
  margin-right: 70px;
}
.ui-filter .row.multi-select .multi-actions {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}
.ui-filter .row.multi-select .multi-actions .multi-more {
  display: block;
  position: absolute;
  right: 6px;
  top: 6px;
}
.ui-filter .row.multi-select .multi-actions .multi-submit {
  position: absolute;
  right: 570px;
  bottom: 6px;
  display: none;
}
.ui-filter .row.multi-select .multi-actions .multi-cancel {
  position: absolute;
  right: 490px;
  bottom: 6px;
  display: none;
}
.ui-filter .row.multi-select.open {
  min-height: 48px;
  padding-bottom: 40px;
}
.ui-filter .row.multi-select.open .multi-more {
  display: none;
}
.ui-filter .row.multi-select.open .link {
  background: url(http://static.yaozh.com/images/core/checkbox-three.png) no-repeat 4px 6px transparent;
  padding: 0 10px 0 20px;
  margin: 0 10px 4px 0;
}
.ui-filter .row.multi-select.open .link.selected {
  background-position: 4px -44px;
}
.ui-filter .row.multi-select.open .multi-submit,
.ui-filter .row.multi-select.open .multi-cancel {
  display: block;
}
.ui-filter .more {
  *zoom: 1;
}
.ui-filter .more:before,
.ui-filter .more:after {
  content: "";
  display: table;
}
.ui-filter .more:after {
  clear: both;
}
.ui-filter .more .rows {
  display: none;
}
.ui-filter .more .control {
  position: relative;
  height: 3px;
  margin-bottom: 26px;
  border-bottom: 1px solid #cccccc;
  background-color: #f1f1f1;
}
.ui-filter .more .control .btn {
  position: absolute;
  left: 50%;
  top: 3px;
  width: 120px;
  padding: 2px;
  margin-left: -60px;
  background-color: #f1f1f1;
  font-size: 12px;
  border-top: none;
  border-radius: 0 0 5px 5px;
}
.ui-filter .more .control .btn .fa {
  font-size: 1.4em;
}
.ui-filter .more .control .btn:active,
.ui-filter .more .control .btn:focus,
.ui-filter .more .control .btn:hover {
  border-color: #cccccc;
}
.ui-filter .more .control .more {
  display: inline-block;
}
.ui-filter .more .control .less {
  display: none;
}
.ui-filter .more .control:hover {
  border-bottom-color: #85a3e0;
  background-color: #85a3e0;
}
.ui-filter .more .control:hover .btn {
  color: #fff;
  background-color: #85a3e0;
  border-color: #85a3e0;
}
.ui-filter .more.open .rows {
  display: block;
}
.ui-filter .more.open .control .more {
  display: none;
}
.ui-filter .more.open .control .less {
  display: inline-block;
}
/* @import "other.less" */
/*面包屑*/
.ui-crumb {
  padding: 6px;
  width: 1186px;
  margin: auto;
  border: 1px solid #cccccc;
  position: relative;
  background-color: #fff;
}
.ui-crumb em {
  font-style: normal;
  font-family: consolas;
}
.ui-crumb > a {
  color: #3366cc;
}
.ui-crumb .info {
  position: absolute;
  top: 6px;
  right: 6px;
}
.ui-crumb .info .fa {
  font-size: 14px;
}
.ui-crumb .info a:hover {
  color: #3366cc;
}
/* 级联下拉 */
.link-select-wrap {
  width: 288px;
}
html.iframe body {
  margin: 8px;
}
/*发布动画*/
.publish-animate {
  position: absolute;
  right: 120px;
  top: -88px;
  width: 105px;
  height: 95px;
}
.publish-animate .img {
  position: absolute;
  right: 0;
  top: 0;
  width: 105px;
  height: 95px;
  background: url(//static.yaozh.com/images/project/db/xh.png) no-repeat 0 0 transparent;
}
.publish-animate.publish-style1 {
  margin-top: 28px;
}
/*无数据*/
.db-nodata {
  position: relative;
  padding: 16px 0;
  height: 68px;
  overflow: hidden;
  font-size: 14px;
}
.db-nodata .text {
  line-height: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -10px 0 0 8px;
}
.db-nodata .xiaozhi-girl {
  position: absolute;
  top: 50%;
  right: 50%;
  margin-right: 8px;
  margin-top: -44px;
}
.db-nodata.base-list {
  padding: 100px 0;
}
.db-nodata.base-list .xiaozhi-boy-find,
.db-nodata.base-list .xiaozhi-boy-sport,
.db-nodata.base-list .xiaozhi-girl-kefu {
  position: absolute;
  right: 50%;
  top: 50%;
  margin-right: 200px;
  margin-top: -44px;
}
.db-nodata.base-list .to-custom:hover {
  color: #3366cc;
}
.db-nodata.base-list .text {
  margin-top: -20px;
  margin-left: -160px;
}
/*小智*/
.xiaozhi-boy,
.xiaozhi-girl,
.xiaozhi-boy-find,
.xiaozhi-boy-sport,
.xiaozhi-girl-kefu {
  position: relative;
  width: 88px;
  height: 88px;
}
.xiaozhi-boy .img,
.xiaozhi-girl .img,
.xiaozhi-boy-find .img,
.xiaozhi-boy-sport .img,
.xiaozhi-girl-kefu .img {
  position: absolute;
  right: 0;
  top: 0;
  width: 88px;
  height: 88px;
}
/*女小智*/
.xiaozhi-girl .img {
  background: url(//static.yaozh.com/images/project/db/xiaozhi_girl.png) no-repeat 0 0 transparent;
}
/*男小智*/
.xiaozhi-boy .img {
  background: url(//static.yaozh.com/images/project/db/xiaozhi_boy.png) no-repeat 0 0 transparent;
}
/* 男小智-哭 */
.xiaozhi-boy-find .img {
  background: url(//static.yaozh.com/images/project/db/xiaozhi_boy_find.png) no-repeat 0 0 transparent;
}
/* 男小智-运动 */
.xiaozhi-boy-sport .img {
  background: url(//static.yaozh.com/images/project/db/xiaozhi_boy_sport.png) no-repeat 0 0 transparent;
}
/* 女小智-客服 */
.xiaozhi-girl-kefu .img {
  background: url(//static.yaozh.com/images/project/db/xiaozhi_girl_kefu.png) no-repeat 0 0 transparent;
}
/* 数据库加载中 */
.db-loading {
  position: relative;
  padding: 16px 0;
  height: 68px;
  overflow: hidden;
  font-size: 14px;
}
.db-loading .text {
  line-height: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -10px 0 0 8px;
}
.db-loading .xiaozhi-girl {
  position: absolute;
  top: 50%;
  right: 50%;
  margin-right: 8px;
  margin-top: -44px;
}
.db-loading.base-list {
  padding: 80px 0;
}
/* 未登录，非VIP提示页，系统提示成功，错误 */
.no-login,
.no-vip,
.msg-success,
.msg-error {
  padding: 20px 20px 20px 110px;
  width: 360px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -70px 0 0 -230px;
  background: url(//static.yaozh.com/images/project/db/xiaozhi_boy.png) no-repeat 0 center transparent;
}
.no-login.msg-error,
.no-vip.msg-error,
.msg-success.msg-error,
.msg-error.msg-error {
  background: url(//static.yaozh.com/images/project/db/xiaozhi_boy_cry.png) no-repeat 0 center transparent;
}
/* 打印样式 */
@media print {
  .ui-topbar,
  .header-bar,
  .ui-topnav-wrapper,
  .ui-crumb,
  .ui-sidebar {
    display: none;
  }
  .wrapper,
  .main {
    width: 100%;
  }
}
/* 页面 */
/* @import "admin.less" */
.ui-widget {
  font-size: 1em;
}
header {
  padding: 8px;
  position: relative;
  height: 2.2em;
}
header .control-bar {
  position: absolute;
  top: 8px;
  right: 8px;
}
.main-page {
  padding: 8px;
}
.page-nav {
  float: left;
  width: 240px;
  margin-right: 10px;
}
.page-nav .sub-nav {
  padding: 0;
}
.page-nav .sub-nav p > a {
  display: block;
  padding: 4px 8px;
  text-decoration: none;
}
.page-nav .sub-nav p > a:hover {
  background-color: #eee;
}
.page-tab {
  overflow: hidden;
  *zoom: 1;
}
.page-tab .ui-tabs-nav li .ui-icon-close {
  float: left;
  margin: 0.4em 0.2em 0 0;
  cursor: pointer;
}
.page-tab .tab-iframe {
  width: 100%;
  border: none;
}
.page-tab .ui-tabs-panel {
  padding: 8px;
}
/* navigate */
.navigate {
  position: fixed;
  left: -142px;
  top: 20px;
  z-index: 10;
  padding-right: 8px;
  transition: left,0.2s;
}
.navigate .ui-widget-header {
  width: 136px;
  height: 26px;
  padding: 4px;
}
.navigate .ui-widget-header a {
  color: #333;
}
.navigate:hover {
  left: 0;
}
/* dialog-page */
.ui-dialog .dialog-page {
  padding: 8px;
}
.ui-dialog .dialog-page .dialog-iframe {
  width: 100%;
  border: none;
}
/* @import "page-index.less" */
.page-index .ui-topbar .wrapper {
  width: auto;
}
.page-index .main {
  min-height: 400px;
  margin: 100px auto;
}
.page-index .ui-topnav-wrapper {
  width: auto;
}
.page-index .logo {
  display: inline-block;
  width: 338px;
  height: 53px;
  background: url(../images/project/db/logo.png) 0 0 no-repeat transparent;
}
.page-index .cats a {
  display: inline-block;
  padding: 0 16px;
  text-decoration: none;
  font-weight: 700;
  color: #606060;
}
.page-index .cats a:hover,
.page-index .cats a.active {
  color: #dd4b39;
}
.page-index .search-tab {
  width: 640px;
  margin: 30px auto;
  font-size: 14px;
  position: relative;
  z-index: 2;
}
.page-index .search-box {
  margin-top: 6px;
  border: 1px solid #1066ea;
  background-color: #fff;
  height: 34px;
  position: relative;
}
.page-index .search-box .search {
  width: 516px;
  height: 34px;
  line-height: 34px;
  border: none;
  padding: 0 10px;
  *margin-top: -1px;
}
.page-index .search-box .submit {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 100px;
  height: 34px;
  background-color: #3079ed;
  border: none;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
}
.page-index .search-box .ui-autocomplete-box {
  float: left;
}
.page-index footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 20px 0;
}
.page-index footer .clearfix {
  margin: 0 70px;
}
.database-list .category {
  margin-top: 16px;
  padding: 16px;
  background: #f0f0f0;
  border: 1px solid #cccccc;
  line-height: 24px;
}
.database-list .category .head {
  padding: 8px 0;
}
.database-list .category .head .database-icon {
  width: 24px;
  height: 24px;
  vertical-align: middle;
}
.database-list .category .head .name {
  font-size: 14px;
  font-weight: 700;
  color: #3366cc;
  display: inline-block;
  *zoom: 1;
  *display: inline;
  margin-left: 8px;
  vertical-align: middle;
}
.database-list .category .body {
  padding: 8px;
}
.database-list .category .body a {
  display: inline-block;
  *zoom: 1;
  *display: inline;
  padding: 0 8px;
  text-decoration: none;
  border-radius: 2px;
  margin: 0 8px 8px 0;
}
.database-list .category .body a:hover,
.database-list .category .body a.active {
  background: #3366cc;
  color: #fff;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}
.database-list .db-loading,
.database-list .db-nodata {
  top: 170px;
}
/* @import "page-list.less" */
.zh-main {
  padding-right: 316px;
  width: 884px;
  position: relative;
}
.zh-main .zh-list .zh-li-icon {
  width: 24px;
  height: 24px;
  margin: 0 0 2px 10px;
  vertical-align: middle;
  display: inline-block;
}
.zh-main .zh-list .ui-panel {
  position: relative;
  top: 0;
  overflow: hidden;
  padding: 0;
}
.zh-main .zh-list .ui-panel-title {
  padding: 16px 16px 0 16px;
}
.zh-main .zh-list .ui-panel-content {
  min-height: 32px;
  overflow: hidden;
  padding-bottom: 16px;
}
.zh-main .zh-list .ui-panel-content a {
  display: block;
  line-height: 24px;
  font-size: 14px;
  position: relative;
  padding: 4px 32px;
}
.zh-main .zh-list .ui-panel-content a .name {
  display: inline-block;
}
.zh-main .zh-list .ui-panel-content a .info {
  display: inline-block;
  margin-left: 16px;
}
.zh-main .zh-list .ui-panel-content a .info em {
  color: #3366cc;
}
.zh-main .zh-list .ui-panel-content a .fa {
  position: absolute;
  width: 24px;
  height: 24px;
  font-size: 22px;
  top: 4px;
  color: #666;
  right: 0;
}
.zh-main .zh-list .ui-panel-content a:hover {
  color: #e74c3c;
  background-color: #eeeeee;
}
.zh-main .zh-list .ui-panel-content a:hover .fa {
  color: #e74c3c;
}
.zh-main .zh-ads {
  position: absolute;
  top: 16px;
  right: 0;
  width: 300px;
}
.zh-main .zh-ads .ad {
  width: 100%;
  display: block;
  height: 120px;
  vertical-align: top;
  margin-bottom: 16px;
}
.zh-main .zh-ads .ad img {
  width: 100%;
  height: 100%;
}
.list-actions {
  position: relative;
  bottom: -16px;
  height: 0;
}
.horizontal-box {
  position: relative;
  padding-left: 216px;
}
.horizontal-box .left-box {
  position: absolute;
  left: 0;
  top: 0;
  width: 200px;
}
.horizontal-box .left-box .ui-panel .ui-panel-title {
  border-bottom-width: 2px;
}
.syz-list {
  height: 840px;
  overflow-y: auto;
}
.syz-list .item {
  border-top: 1px solid #cccccc;
  padding: 4px 8px;
  margin-top: -1px;
}
.syz-list .item a {
  color: #3366cc;
}
.zhongbiaogonggao li {
  line-height: 24px;
}
.zhongbiaogonggao li a {
  padding-right: 100px;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: relative;
}
.zhongbiaogonggao li a .date {
  position: absolute;
  right: 0;
  text-align: right;
  width: 100px;
  color: #999999;
}
.page-list.page-policies .table th:first-child {
  text-align: left;
}
/* @import "page-user.less" */
.page-user {
  background-color: #f5f5f5;
}
.page-user .user-info {
  position: relative;
  padding-left: 116px;
  height: 84px;
}
.page-user .user-info .head {
  position: absolute;
  left: 16px;
  top: 16px;
  font-size: 0;
  overflow: hidden;
  border-radius: 13px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}
.page-user .user-info .fa {
  font-size: 14px;
}
.page-user .user-info .title {
  font-size: 16px;
  margin-top: 4px;
}
.page-user .user-info p {
  margin-top: 10px;
}
.page-user .user-info p a:hover {
  color: #3366cc;
}
.page-user .rss-info {
  *zoom: 1;
}
.page-user .rss-info:before,
.page-user .rss-info:after {
  content: "";
  display: table;
}
.page-user .rss-info:after {
  clear: both;
}
.page-user .rss-info .db-info {
  float: left;
  height: 160px;
  width: 46%;
  padding-right: 4%;
}
.page-user .rss-info .report-info {
  float: left;
  width: 46%;
  padding-left: 4%;
  border-left: 1px solid #cccccc;
  margin-left: -1px;
}
.page-user .rss-info .report-info .report {
  float: left;
  width: 40%;
  margin-right: 10%;
}
.page-user .rss-info .report-info .report .img {
  border: 2px solid #cccccc;
  position: relative;
  text-align: center;
  height: 100px;
  display: block;
  line-height: 100px;
}
.page-user .rss-info .report-info .report .img img {
  vertical-align: middle;
}
.page-user .rss-info .report-info .report .img .status {
  position: absolute;
  left: 0;
  top: 8px;
  padding: 2px 4px;
  background-color: #4d90fe;
  color: #fff;
  font-style: normal;
  line-height: 1;
}
.page-user .rss-info .report-info .report .img .status.past {
  color: #333333;
  background-color: #cccccc;
}
.page-user .rss-info .report-info .report .img:hover {
  border-color: #4d90fe;
}
.page-user .rss-info .report-info .report .title {
  margin-top: 10px;
  text-align: center;
}
.page-user .fq-msg {
  margin-left: -16px;
  *zoom: 1;
}
.page-user .fq-msg:before,
.page-user .fq-msg:after {
  content: "";
  display: table;
}
.page-user .fq-msg:after {
  clear: both;
}
.page-user .fq-msg .ui-panel {
  width: 450px;
  float: left;
  margin-left: 16px;
}
.page-user .fq-msg .dot {
  line-height: 24px;
}
.page-user .fq-msg .dot li {
  position: relative;
  padding-right: 80px;
}
.page-user .fq-msg .dot a {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.page-user .fq-msg .dot .date {
  position: absolute;
  top: 0;
  right: 0;
}
.page-user .ads {
  margin-left: -16px;
  *zoom: 1;
}
.page-user .ads:before,
.page-user .ads:after {
  content: "";
  display: table;
}
.page-user .ads:after {
  clear: both;
}
.page-user .ads .ad {
  display: block;
  width: 484px;
  float: left;
  margin-left: 16px;
}
.page-user .report-list {
  overflow: hidden;
  *zoom: 1;
  margin-right: -20px;
}
.page-user .report-list .item {
  width: 290px;
  text-align: center;
  float: left;
  position: relative;
  padding: 4px;
  border: 2px solid #cccccc;
  margin: 0 20px 20px 0;
}
.page-user .report-list .item .status {
  position: absolute;
  padding: 2px 10px;
  background-color: #3366cc;
  color: #fff;
  left: 4px;
  top: 4px;
  font-style: normal;
}
.page-user .report-list .item .status.past {
  color: #333333;
  background-color: #cccccc;
}
.page-user .report-list .item .img {
  width: 260px;
  height: 200px;
}
.page-user .report-list .item .title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 10px 0;
}
.page-user .report-list .item .title a {
  color: #3366cc;
}
.page-user .report-list .item .actions {
  margin-bottom: 10px;
}
/* @import "page-custom.less" */
.page-custom .header-bar {
  padding: 0;
  height: auto;
}
.page-custom .header-bar .wrapper {
  position: relative;
}
.page-custom .header-bar .home {
  position: absolute;
  width: 280px;
  height: 60px;
  left: 4px;
  top: 26px;
}
.page-custom .banner {
  position: relative;
  height: 403px;
}
.page-custom .banner img {
  position: absolute;
  left: 50%;
  width: 2000px;
  margin-left: -1000px;
  height: 403px;
}
.page-custom .tese {
  *zoom: 1;
  margin-top: 48px;
}
.page-custom .tese:before,
.page-custom .tese:after {
  content: "";
  display: table;
}
.page-custom .tese:after {
  clear: both;
}
.page-custom .tese .item {
  position: relative;
  float: left;
  width: 270px;
  padding-left: 100px;
  margin: 0 15px;
  height: 75px;
}
.page-custom .tese .item .img {
  width: 100px;
  height: 80px;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
}
.page-custom .tese .item .title {
  font-size: 14px;
  color: #245dc1;
  font-weight: 700;
}
.page-custom .tese .item .summary {
  height: 50px;
  overflow: hidden;
  margin-top: 6px;
}
.page-custom .contacts {
  *zoom: 1;
  margin-top: 40px;
  margin-left: -50px;
}
.page-custom .contacts:before,
.page-custom .contacts:after {
  content: "";
  display: table;
}
.page-custom .contacts:after {
  clear: both;
}
.page-custom .contacts .item {
  width: 533px;
  height: 160px;
  float: left;
  margin-left: 50px;
  padding: 20px 20px;
  background-color: #f7f7f7;
  font-size: 14px;
  border: 1px solid #cccccc;
}
.page-custom .contacts .item .top {
  overflow: hidden;
  *zoom: 1;
}
.page-custom .contacts .item .top .head {
  float: left;
  margin-right: 20px;
  width: 84px;
}
.page-custom .contacts .item .top ul {
  float: left;
  width: 400px;
}
.page-custom .contacts .item .top ul li {
  float: left;
  white-space: nowrap;
  width: 170px;
  margin: 10px 20px 20px 0;
}
.page-custom .contacts .item .top ul li .fa {
  font-size: 16px;
  margin-right: 6px;
}
.page-custom .db-list {
  overflow: hidden;
  *zoom: 1;
  margin-left: -50px;
}
.page-custom .db-list .item {
  position: relative;
  height: 90px;
  width: 465px;
  float: left;
  margin-left: 50px;
  margin-top: -1px;
  border-top: 1px solid #cccccc;
  padding: 40px 0 40px 110px;
}
.page-custom .db-list .item .img {
  position: absolute;
  left: 0;
  top: 40px;
  width: 90px;
  height: 90px;
  background-color: #cccccc;
}
.page-custom .db-list .item .img img {
  width: 100%;
  height: 100%;
}
.page-custom .db-list .item .title {
  font-size: 14px;
  font-weight: 700;
}
.page-custom .db-list .item .title a {
  color: #245dc1;
}
.page-custom .db-list .item .summary {
  margin-top: 10px;
  line-height: 1.8;
  height: 62px;
  overflow: hidden;
}
.page-custom .question {
  border: 1px solid #cccccc;
  padding: 20px 0 40px;
}
.page-custom .question .title {
  font-size: 20px;
  font-weight: 700;
  margin-left: 20px;
}
.page-custom .question .title .fa {
  font-size: 22px;
  margin-right: 5px;
  color: #245dc1;
}
.page-custom .question .cat-list {
  margin-top: 20px;
  overflow: hidden;
  *zoom: 1;
}
.page-custom .question .cat-list .item {
  float: left;
  width: 25%;
  margin-left: -1px;
}
.page-custom .question .cat-list .cat-name {
  font-size: 14px;
  font-weight: 700;
  padding: 0 90px;
}
.page-custom .question .cat-list .list {
  margin-top: 10px;
  padding: 0 90px;
  border-left: 1px dotted #cccccc;
  line-height: 24px;
}
.page-custom .question .cat-list .list a {
  display: block;
}
/* @import "page-hhw.less" */
.page-hhw .cl-blue-1 {
  color: #789cc5;
}
.page-hhw .cl-blue-2 {
  color: #063d7e;
}
.page-hhw .top-box {
  position: relative;
}
.page-hhw .top-box .left-box {
  margin-right: 230px;
}
.page-hhw .top-box .left-box .img {
  float: left;
  margin-right: 10px;
  height: 230px;
  border: 1px solid #cccccc;
  position: relative;
}
.page-hhw .top-box .left-box .img .magnifier-preview {
  position: absolute;
  visibility: hidden;
  left: 211px;
  top: -1px;
  width: 400px;
  height: 400px;
  border: 1px solid #cccccc;
  overflow: hidden;
}
.page-hhw .top-box .left-box .info {
  overflow: hidden;
  height: 230px;
}
.page-hhw .top-box .left-box .info .ui-panel-content {
  height: 201px;
  overflow-y: auto;
}
.page-hhw .top-box .left-box .info .ui-panel-side a {
  vertical-align: top;
  margin-top: 4px;
}
.page-hhw .top-box .left-box .info .bdsharebuttonbox {
  display: inline-block;
  *zoom: 1;
  *display: inline;
  vertical-align: top;
  margin-top: 4px;
}
.page-hhw .top-box .left-box .info .bdsharebuttonbox a {
  line-height: 18px;
  height: 18px;
  margin: 0;
  padding-left: 8px;
  background-image: none;
}
.page-hhw .top-box .left-box .ui-tab-panels .ui-tab-panel {
  overflow-x: auto;
}
.page-hhw .top-box .right-box {
  position: absolute;
  right: 0;
  top: 0;
  width: 220px;
}
.page-hhw .top-box .right-box .company-info .ui-panel-title {
  color: #fff;
  background-color: #0a4891;
}
.page-hhw .top-box .right-box .company-info p {
  line-height: 22px;
}
.page-hhw .product-info .title {
  font-weight: 700;
  text-align: right;
  width: 80px;
}
.page-hhw .detail-info-table .striped {
  font-weight: 700;
  text-align: right;
  width: 100px;
}
.page-hhw .table-style-1 th,
.page-hhw .table-style-1 td {
  border: none;
}
.page-hhw .table-style-1 th {
  background-color: #e7f0f9;
}
.page-hhw .zh-menu {
  border: 2px solid #e7f0f9;
  padding: 10px;
  float: left;
  margin-right: 10px;
}
.page-hhw .zh-menu .title {
  color: #789cc5;
  font-size: 14px;
}
.page-hhw .zh-menu ul {
  padding: 8px;
  list-style-type: decimal;
}
.page-hhw .zh-menu ul li {
  margin: 8px 0 8px 16px;
}
.page-hhw .zh-menu ul li .text {
  display: inline-block;
  position: relative;
  font-size: 14px;
  background-color: #fff;
}
.page-hhw .zh-items {
  overflow: hidden;
  *zoom: 1;
}
.page-hhw .zh-items .item {
  display: block;
  margin-bottom: 10px;
}
.page-hhw .zh-items .item .title {
  background-color: #e7f0f9;
  padding: 6px 8px;
  font-size: 14px;
  font-weight: 700;
  color: #789cc5;
  position: relative;
  cursor: pointer;
}
.page-hhw .zh-items .item .title .arrow {
  position: absolute;
  right: 8px;
  top: 14px;
  display: inline-block;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  vertical-align: middle;
  border-top-color: #789cc5;
}
.page-hhw .zh-items .item .content {
  display: none;
  padding: 20px;
}
.page-hhw .zh-items .item.open .title .arrow {
  top: 8px;
  display: inline-block;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  vertical-align: middle;
  border-bottom-color: #789cc5;
}
.page-hhw .zh-items .item.open .content {
  display: block;
}
.page-hhw .jiegou-list img {
  height: 80px;
}
/* @import "page-detail.less" */
.detail-style-1 .head {
  line-height: 36px;
  padding: 0 10px;
  color: #3366cc;
  font-size: 14px;
  font-weight: 700;
  background-color: #e5e5e6;
}
.detail-style-2 {
  position: relative;
  margin-top: 40px;
  line-height: 1.6;
  font-size: 14px;
}
.detail-style-2 .head {
  line-height: 28px;
  padding: 4px 10px;
  background-color: #0a4891;
  color: #fff;
}
.detail-style-2 .body {
  background-color: #f2f5f8;
  padding: 16px 332px 16px 16px;
  position: relative;
  z-index: 3;
  min-height: 400px;
}
.detail-style-2 .body .ui-panel {
  border: none;
  padding: 0;
  background-color: transparent;
}
.detail-style-2 .body .ui-panel-title {
  border: none;
}
.detail-style-2 .body .ui-panel-name {
  font-size: 16px;
  font-weight: 700;
  color: #3366cc;
}
.detail-style-2 .body .ui-panel-name .fa {
  font-size: 20px;
}
.detail-style-2 .body .ui-panel-side {
  font-size: 14px;
}
.detail-style-2 .body .ui-panel-side a {
  font-weight: 700;
}
.detail-style-2 .body .ui-panel-content {
  padding: 8px 16px;
}
.detail-style-2 .body .table {
  text-align: left;
}
.detail-style-2 .body .table tbody th {
  text-align: right;
}
.detail-style-2 .body .table th,
.detail-style-2 .body .table td {
  padding: 8px;
}
.detail-style-2 .body .table td p {
  margin-top: 16px;
}
.detail-style-2 .body .ads {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 300px;
}
.detail-style-2 .body .ads .ad {
  width: 100%;
  display: block;
  height: 120px;
  vertical-align: top;
  margin-bottom: 16px;
}
.detail-style-2 .body .ads .ad img {
  width: 100%;
  height: 100%;
}
.detail-style-2 .other-database .btn {
  margin: 0 16px 8px 0;
}
.detail-style-2 .manual {
  background-color: #fff;
  padding: 16px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
}
.detail-style-2 .manual p {
  margin-left: 16px;
}
.detail-style-2 .manual p b {
  font-size: 14px;
  margin-left: -16px;
}
.iframe .body {
  padding: 16px;
}
.iframe .body .ads {
  display: none;
}
.report-detail {
  padding-left: 216px;
  position: relative;
}
.report-detail .menu {
  position: absolute;
  left: 0;
  top: 0;
  width: 200px;
}
.report-detail .menu ul {
  border: 1px solid #cccccc;
  width: 198px;
  overflow: hidden;
  line-height: 16px;
}
.report-detail .menu ul.stuck {
  position: fixed;
  top: 62px;
}
.report-detail .menu li {
  border-top: 1px solid #cccccc;
  margin-top: -1px;
}
.report-detail .menu li a {
  display: block;
  padding: 8px 16px;
  text-decoration: none;
}
.report-detail .menu li a:hover {
  font-weight: 700;
}
.report-detail .menu li.active a {
  background-color: #b0c5da;
  font-weight: 700;
}
.report-detail .detail {
  padding-bottom: 200px;
}
.report-detail .detail .ui-panel-title {
  background-color: #b0c5da;
}
.report-detail .detail .ui-panel-content {
  padding: 16px;
}
.report-detail .detail .cl-blue img {
  vertical-align: bottom;
}
@media print {
  .report-detail {
    padding-left: 0;
  }
  .report-detail .menu {
    display: none;
  }
}
/*药品标准*/
.page-biaozhun table.table p {
  text-indent: 2em;
}
.page-biaozhun table.table b {
  color: #3366cc;
}
.page-biaozhun table.table table td,
.page-biaozhun table.table table th {
  border: none;
}
/* @import "page-other.less" */
/* 左右布局 */
.main-box {
  overflow: hidden;
  *zoom: 1;
}
.main-box .left-box {
  width: 200px;
  margin-right: 16px;
  float: left;
}
.main-box .left-box .nav-boxs {
  font-size: 14px;
  min-height: 500px;
  border: 1px solid #cccccc;
  background-color: #fff;
  overflow: hidden;
}
.main-box .left-box .nav-boxs a {
  display: block;
  text-decoration: none;
}
.main-box .left-box .nav-boxs a:hover {
  color: #3366cc;
}
.main-box .left-box .nav-boxs .nav-box {
  margin: -1px 16px 0;
  border-top: 1px solid #cccccc;
}
.main-box .left-box .nav-boxs .nav-box .nav-title {
  font-weight: 700;
  font-size: 16px;
  margin: 14px -16px;
  padding: 0 16px 0 12px;
  border-left: 4px solid transparent;
}
.main-box .left-box .nav-boxs .nav-box .nav-title .fa {
  font-size: 18px;
}
.main-box .left-box .nav-boxs .nav-box .nav-title.active {
  color: #3366cc;
  border-left-color: #3366cc;
}
.main-box .left-box .nav-boxs .nav-box .nav-sub {
  margin: 0 -16px;
}
.main-box .left-box .nav-boxs .nav-box .nav-sub a {
  margin: 12px 0;
  padding: 0 32px;
}
.main-box .left-box .nav-boxs .nav-box .nav-sub a.active {
  color: #3366cc;
}
.main-box .right-box {
  overflow: hidden;
  *zoom: 1;
}
.main-box .right-box > .ui-panel > .ui-panel-content {
  min-height: 420px;
  overflow: hidden;
  *zoom: 1;
}
/* vip功能页面 */
.page-vip .left-box {
  float: left;
  width: 800px;
}
.page-vip .right-box {
  float: right;
  width: 350px;
}
.page-vip .right-box .item {
  height: 80px;
  position: relative;
  border: 1px solid #cccccc;
  margin-top: 32px;
  padding: 10px 10px 10px 110px;
  line-height: 1.6;
}
.page-vip .right-box .item .head {
  position: absolute;
  left: 0;
  top: 0;
  height: 80px;
  width: 100px;
  padding: 10px 0;
  border-right: 1px solid #cccccc;
  background-color: #f8f8f8;
  text-align: center;
}
.page-vip .right-box .item .head .name {
  display: inline-block;
  margin-top: 10px;
}
.page-vip .right-box .item .fa {
  font-size: 50px;
  color: #3366cc;
  position: relative;
}
.page-vip .right-box .item .sicon {
  position: absolute;
  right: -10px;
  bottom: -6px;
  font-size: 16px;
  color: #fff;
  border-radius: 14px;
  padding: 4px;
  width: 16px;
  height: 16px;
  border: 2px solid #fff;
  background-color: #3366cc;
}
.page-vip .vip-action-tab .item {
  margin: 16px 0 64px;
}
.page-vip .vip-action-tab .item .fs16 {
  margin: 8px;
}
/* 友情链接 */
.page-links .links a {
  display: inline-block;
  font-size: 14px;
  padding: 4px 8px;
  margin: 4px;
}
.page-links .links a:hover {
  color: #3366cc;
}
.page-links .add-links-box {
  position: relative;
  padding-right: 416px;
}
.page-links .add-links-form {
  margin-left: 100px;
}
.page-links .add-links-tips {
  width: 366px;
  position: absolute;
  top: 16px;
  right: 0;
  line-height: 2;
}
/*审评结论*/
.page-audit h1 {
  font-size: 40px;
  color: #418dff;
  text-align: center;
  background-color: #e5e5e5;
  font-weight: 400;
  line-height: 100px;
}
.page-audit .event-list {
  border-top: 3px solid #418dff;
  margin: 100px 0;
  padding: 80px 0 0;
  position: relative;
}
.page-audit .event-list .item {
  width: 680px;
  height: 200px;
  margin: 0 auto;
  position: relative;
  font-size: 24px;
  line-height: 1;
  color: #b2b2b2;
}
.page-audit .event-list .item .icon {
  position: absolute;
  left: 300px;
  top: 60px;
  line-height: 80px;
  width: 80px;
  height: 80px;
  font-size: 48px;
  color: #b2b2b2;
  background-color: #fff;
  border: 2px solid #b2b2b2;
  text-align: center;
  border-radius: 42px;
}
.page-audit .event-list .item .icon .fa {
  margin-left: 4px;
}
.page-audit .event-list .item .year {
  position: absolute;
  right: 436px;
  bottom: 104px;
  font-size: 20px;
}
.page-audit .event-list .item .date {
  position: absolute;
  right: 436px;
  top: 104px;
  font-size: 21px;
  font-weight: 700;
}
.page-audit .event-list .item .title {
  position: absolute;
  left: 436px;
  top: 88px;
  white-space: nowrap;
}
.page-audit .event-list .item .line {
  width: 3px;
  height: 100%;
  background-color: #b2b2b2;
  position: absolute;
  left: 50%;
  top: 0;
  z-index: -1;
}
.page-audit .event-list .item .text {
  font-size: 30px;
  position: absolute;
  left: 284px;
  top: 44px;
  line-height: 112px;
  width: 112px;
  height: 112px;
  font-size: 33px;
  color: #ff6600;
  text-align: center;
  border: 2px solid #ff6600;
  border-radius: 58px;
  background-color: #fff;
  z-index: 9;
}
.page-audit .event-list .item .row {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 0;
  z-index: 1;
  border-top: 3px dotted #b2b2b2;
}
.page-audit .event-list .item.active {
  color: #418dff;
}
.page-audit .event-list .item.active .icon {
  background-color: #418dff;
  color: #fff;
  box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.5);
  border-color: #eee;
}
.page-audit .event-list .item.active .line {
  background-color: #418dff;
}
.page-audit .event-list .clock {
  position: absolute;
  width: 140px;
  height: 140px;
  line-height: 140px;
  left: 50%;
  top: -69px;
  text-align: center;
  margin-left: -75px;
  border: 5px solid #eee;
  border-radius: 75px;
  font-size: 140px;
  color: #ff6600;
  background-color: #fff;
  z-index: 10;
  box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.5);
}
.page-audit .event-list .clock .fa {
  vertical-align: top;
}
.page-audit .event-list .state {
  position: absolute;
  left: 50%;
  margin-left: -80px;
  top: 100%;
  color: #ff6600;
  font-weight: 700;
  background-color: #f1f1f1;
  font-size: 24px;
  width: 160px;
  height: 40px;
  text-align: center;
  line-height: 40px;
}
.page-audit .event-list .state:before,
.page-audit .event-list .state:after {
  content: "";
  position: absolute;
  z-index: -2;
  bottom: 15px;
  left: 10px;
  width: 50%;
  height: 20%;
  max-width: 300px;
  max-height: 100px;
  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
  -webkit-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
.page-audit .event-list .state:after {
  right: 10px;
  left: auto;
  -webkit-transform: rotate(3deg);
  transform: rotate(3deg);
}
/*辅助工具*/
.page-tool .header {
  width: 800px;
  margin: 0 auto;
  height: 86px;
  background: url(http://static.yaozh.com/images/project/db/other/tool_head_bg.jpg) no-repeat center 0 transparent;
  border-bottom: 1px solid #cccccc;
}
.page-tool .tool-box {
  width: 800px;
  height: 549px;
  overflow: hidden;
  margin: 50px auto;
}
.page-tool .tool-box .ui-sliderbox-control {
  width: 100%;
  text-align: center;
  padding: 0;
}
.page-tool .tool-box .ui-sliderbox-control a {
  background: #3366cc;
  width: 16px;
  height: 16px;
  border-radius: 8px;
}
.page-tool .tool-panel {
  width: 800px;
  line-height: 1.6;
  color: #666666;
}
.page-tool .tool-panel .item {
  width: 207px;
  border: 1px solid #cccccc;
  padding: 16px 16px 47px 100px;
  position: relative;
  margin: 0 0 50px 50px;
  float: left;
  overflow: hidden;
}
.page-tool .tool-panel .item .logo {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 0;
  top: 0;
  background: url(http://static.yaozh.com/images/project/db/other/tool_icons.jpg) no-repeat center 0 transparent;
}
.page-tool .tool-panel .item .logo.logo2 {
  background-position: 0 -100px;
}
.page-tool .tool-panel .item .logo.logo3 {
  background-position: 0 -200px;
}
.page-tool .tool-panel .item .logo.logo4 {
  background-position: 0 -300px;
}
.page-tool .tool-panel .item .logo.logo5 {
  background-position: 0 -400px;
}
.page-tool .tool-panel .item .logo.logo6 {
  background-position: 0 -500px;
}
.page-tool .tool-panel .item .title {
  font-size: 16px;
  height: 24px;
}
.page-tool .tool-panel .item .summary {
  height: 36px;
  margin-top: 8px;
  overflow: hidden;
}
.page-tool .tool-panel .item .btn {
  z-index: 10;
  position: absolute;
  opacity: 0;
  /* support: IE8 */
  filter: Alpha(Opacity=0);
  top: 50px;
  left: 105.5px;
  width: 80px;
}
.page-tool .tool-panel .item .status {
  z-index: 10;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #f8f8f8;
  height: 30px;
  font-size: 14px;
  line-height: 20px;
  border-top: 1px solid #cccccc;
  overflow: hidden;
}
.page-tool .tool-panel .item .status .s-item {
  float: left;
  text-align: center;
  margin-top: 5px;
  width: 106px;
  border-left: 1px solid #cccccc;
  margin-left: -1px;
}
.page-tool .tool-panel .item .status .fa {
  color: #a5d3fa;
  font-size: 16px;
  margin-right: 8px;
}
.page-tool .tool-panel .item .status .text {
  display: none;
}
.page-tool .tool-panel .item .pop {
  z-index: 1;
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  height: 100%;
  background: #768694;
  opacity: 0.8;
  /* support: IE8 */
  filter: Alpha(Opacity=80);
}
.page-tool .tool-panel .item.hover .status {
  border-top: none;
  background: transparent;
  color: #fff;
  font-size: 12px;
}
.page-tool .tool-panel .item.hover .status .s-item {
  border-color: #fff;
}
.page-tool .tool-panel .item.hover .status .fa {
  display: none;
}
.page-tool .tool-panel .item.hover .status .text {
  display: inline-block;
}
.page-tool .tool-panel .item.hover .pop {
  top: 0;
}
.page-tool .tool-panel .item.hover .btn {
  opacity: 1;
}
/*分子量计算器*/
.page-formula .wrapper {
  width: 800px;
}
.page-formula .ui-box-yellow {
  height: 366px;
}
.page-formula .result {
  height: 366px;
  overflow-y: auto;
}
.page-formula .result .em4 {
  display: inline-block;
  text-align: right;
}
.page-formula .result p {
  margin-bottom: 8px;
}
.page-formula .result .tips {
  margin-top: 190px;
  text-align: center;
  color: #999999;
}
.page-formula .form.form-style-2 .form-double-groups {
  width: 60%;
}
.page-formula .form.form-style-2 .form-groups {
  width: 40%;
}
/*移动端兼容*/
/* @import "mobile.less" */
@media (max-width: 400px) {
  .wrapper {
    width: 300px;
  }
  .mh {
    display: none;
  }
  .main {
    width: auto;
    margin: 30px 10px!important;
  }
  .offset-top {
    margin-top: 8px !important;
  }
  .offset-right {
    margin-right: 8px !important;
  }
  .offset-bottom {
    margin-bottom: 8px !important;
  }
  .offset-left {
    margin-left: 8px !important;
  }
  .ui-crumb {
    width: auto;
    margin: 0 10px;
  }
  .ui-crumb > span:first-child {
    display: none;
  }
  /*topbar*/
  .ui-topbar {
    height: 40px;
    line-height: 40px;
  }
  .ui-topbar > .fl > .item {
    display: none;
  }
  .ui-topbar > .fl > .item.nav-toggle {
    display: block;
  }
  /*topnav*/
  .ui-topnav-wrapper {
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    width: 100%!important;
    top: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.66);
  }
  .ui-topnav-wrapper .ui-topnav {
    box-sizing: border-box;
    position: absolute;
    overflow: hidden;
    left: -70%;
    top: 0;
    height: 100%;
    width: 70%;
    padding: 40px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.72);
  }
  .ui-topnav-wrapper .ui-topnav > .item {
    float: none;
    position: static;
  }
  .ui-topnav-wrapper .ui-topnav > .item .name {
    display: block;
    font-size: 16px;
    padding: 10px 20px;
    background-color: #0a4891;
    color: #fff;
  }
  .ui-topnav-wrapper .ui-topnav > .item .name.arrow:after {
    display: none;
  }
  .ui-topnav-wrapper .ui-topnav > .item .subnav {
    position: static;
    z-index: 10;
    width: auto;
    border: none;
    box-shadow: 0 -10px 10px -10px rgba(0, 0, 0, 0.72) inset, 0 10px 10px -10px rgba(0, 0, 0, 0.72) inset;
  }
  .ui-topnav-wrapper .ui-topnav > .item .subnav > li {
    background: transparent;
    padding: 0;
  }
  .ui-topnav-wrapper .ui-topnav > .item .subnav > li > a {
    font-size: 14px;
    padding: 6px 20px;
  }
  .ui-topnav-wrapper .ui-topnav > .padding {
    display: block;
    padding: 0;
  }
  .ui-topnav-wrapper .ui-topnav > .padding > a {
    display: block;
    font-size: 16px;
    padding: 10px 20px;
  }
  .ui-topnav-wrapper.open {
    display: block;
  }
  /*header-bar*/
  .header-bar .header-layer form {
    width: auto;
    margin: 0 10px;
  }
  .header-bar .logo {
    display: none;
  }
  .header-bar .search-box {
    display: block;
    margin-left: 0;
  }
  .header-bar .search-box .search {
    width: 130px;
  }
  /*form*/
  .form .form-box button.btn.form-control-width {
    width: 264px;
  }
  .form.align-right .form-label {
    width: 70px;
  }
  .form.align-right .form-control {
    box-sizing: border-box;
    height: 30px;
    width: 178px;
  }
  .form.form-style-2 .form-groups {
    width: auto;
    float: none;
  }
  .form.form-style-2 .form-double-groups {
    width: auto;
    float: none;
  }
  .form.form-style-2 .form-double-groups .form-group {
    width: auto;
    float: none;
  }
  /*footer*/
  footer {
    padding: 10px;
    text-align: center;
  }
  footer > .clearfix {
    height: auto;
  }
  footer .fa {
    font-size: 16px;
  }
  footer .fl,
  footer .fr {
    float: none;
  }
  /*page-index*/
  .page-index .logo {
    display: block;
    width: auto;
    background-size: 100%;
  }
  .page-index .search-tab {
    width: auto;
  }
  .page-index .search-tab .search {
    width: 170px;
  }
}
