/* @import "var.less"; */
/*border*/
/*input*/
/* @import "mixin.less"; */
/* @import "header.less" */
/*subnav*/
header {
  /* topnav */
  /* padding */
}
header .topnav {
  float: left;
  background-color: #0a4891;
  line-height: 18px;
}
header .topnav .item {
  float: left;
  position: relative;
}
header .topnav .item .name {
  display: inline-block;
  padding: 8px 4px;
  color: #ffffff;
  height: 18px;
  position: relative;
  z-index: 2;
}
header .topnav .item .name:hover {
  text-decoration: none;
}
header .topnav .item .subnav {
  position: absolute;
  z-index: 1;
  width: 200px;
  left: -1px;
  top: 33px;
  display: none;
  padding-top: 10px;
  _padding-top: 0px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
}
header .topnav .item .subnav li a {
  display: block;
  _zoom: 1;
  color: #3366cc;
  padding: 6.4px 3.2px;
}
header .topnav .item.active .name {
  background-color: #ffffff;
  color: #3366cc;
}
header .topnav .item.active .subnav {
  display: block;
}
header .padding {
  display: inline-block;
  line-height: 18px;
}
