/* @import "base.less"; */
/* vars */
/* mixins */
/* @import "widgets.less" */
/* ui-slider */
.ui-sliderbox {
  position: relative;
  overflow: hidden;
}
.ui-sliderbox-box {
  position: absolute;
  left: 0;
  top: 0;
  width: 2000px;
}
.ui-sliderbox-control {
  position: absolute;
  bottom: 0;
  right: 0;
  color: red;
  padding: 4px;
}
.ui-sliderbox-control a {
  display: inline-block;
  width: 12px;
  height: 12px;
  background: #fff;
  overflow: hidden;
  text-indent: -999px;
  margin: 0 3px;
  zoom: 1;
  filter: alpha(opacity=60);
  -webkit-opacity: 0.6;
  -moz-opacity: 0.6;
  opacity: 0.6;
}
.ui-sliderbox-control a.active {
  zoom: 1;
  filter: alpha(opacity=100);
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
/* 公共 */
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.mt5 {
  margin-top: 5px;
}
.mr5 {
  margin-right: 5px;
}
.mb5 {
  margin-bottom: 5px;
}
.ml5 {
  margin-left: 5px;
}
.mt10 {
  margin-top: 10px;
}
.mr10 {
  margin-right: 10px;
}
.mb10 {
  margin-bottom: 10px;
}
.ml10 {
  margin-left: 10px;
}
.red {
  color: #f00;
}
.blue {
  color: #2980b9;
}
