@colorBase : #444;
@fontSizeBase : 14px;
@lineHeightBase : 1.42;
@paddingVerticalBase : 4px;
@paddingHorizontalBase : 8px;
@backgroundColorBase : #F2F2F2;

/*颜色*/
@red : #e74c3c;
@blue : #3366cc;

/*border*/
@borderColor : #ddd;
@borderRadiusBase : 2px;

/*控件基本属性*/
@inputLineHeight : 20px;
@inputBorderFocusColor : #66afe9;
