@colorBase : #333;
@fontSizeBase : 14px;
@lineHeightBase : 1.42;
@paddingVerticalBase : 4px;
@paddingHorizontalBase : 8px;
@backgroundColorBase : #F2F2F2;
@space : 16px;
@wrapper : 1200px;
@leftBoxWidth : 200px;

/*颜色*/
@red : #e74c3c;
@blue : #3366cc;
@gray : #999;

/*border*/
@borderColor : #ccc;
@borderRadiusBase : 2px;

/*控件基本属性*/
@inputLineHeight : 20px;
@inputBorderFocusColor : #66afe9;
@inputBoxShadow : 1px 1px 1px #eee inset;

/*字体*/
@yahei : "microsoft yahei";